<script setup lang="ts">
import DashboardLayout from "~/layouts/DashboardLayout.vue";
import ServantCard from "~/components/Dashboard/Servants/ServantCard.vue";
import {useToast} from "vue-toastification";
import ServantGridCardSkeleton from "~/components/Skeletons/Servants/ServantGridCardSkeleton.vue";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const nuxtApp = useNuxtApp();
const toast = useToast();

const { data: servants, error, pending } = useLazyFetch(baseApiUrl + "servants/list", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  },
  getCachedData(key) {
    return nuxtApp.payload.data[key] || nuxtApp.static.data[key];
  }
});

let filteredServantList = [];

const servantClass = ref('all');
watch(servantClass, async (newClass, oldClass) => {
  filteredServantList = servants.value!.filter((currentServant) => {
    return currentServant.class === newClass || newClass === "all";
  });
});

const servantRarity = ref('all');
watch(servantRarity, async (newRarity, oldRarity) => {
  filteredServantList = servants.value!.filter((currentServant) => {
    return currentServant.rarity == newRarity || newRarity === "all";
  });
});

const servantSearch = ref('');
watch(servantSearch, async (newServantSearch, oldServantSearch) => {
  filteredServantList = servants.value!.filter((currentServant) => {
    return currentServant.name.toLowerCase().includes(newServantSearch.toLowerCase()) || newServantSearch === "";
  });
})

watch(servants, async () => {
  filteredServantList = [...servants.value];
});

watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});

</script>

<template>
  <DashboardLayout page-title="Servant list">
    <details class="collapse bg-base-200 collapse-arrow transition-all duration-500 mb-5">
      <summary class="collapse-title text-base font-medium">
        Filters
      </summary>
      <div class="collapse-content transition-all duration-500">
        <div class="pt-5 flex flex-row justify-between mb-5">
          <div class="flex flex-row space-x-2">
            <label class="input input-bordered input-primary flex items-center gap-2">
              <input type="text" class="grow" placeholder="Search" v-model="servantSearch"/>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
                <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
              </svg>
            </label>

            <select class="select select-bordered select-primary w-full max-w-xs" id="search-servant-by-class" v-model="servantClass">
              <option disabled selected>Select a class</option>
              <option value="all">All</option>
              <option value="saber">Saber</option>
              <option value="archer">Archer</option>
              <option value="lancer">Lancer</option>
              <option value="rider">Rider</option>
              <option value="caster">Caster</option>
              <option value="assassin">Assassin</option>
              <option value="berserker">Berserker</option>
              <option value="ruler">Ruler</option>
              <option value="avenger">Avenger</option>
              <option value="moonCancer">Moon Cancer</option>
              <option value="alterEgo">Alter Ego</option>
              <option value="foreigner">Foreigner</option>
              <option value="pretender">Pretender</option>
              <option value="beast">Beast</option>
              <option value="shielder">Shielder</option>
            </select>

            <select class="select select-bordered select-primary w-full max-w-xs" id="search-servant-by-rarity" v-model="servantRarity">
              <option disabled selected>Select a rarity</option>
              <option value="all">All</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>

          </div>
        </div>
      </div>
    </details>


    <ServantGridCardSkeleton v-if="pending || error"/>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-8 gap-5" v-else>
      <ServantCard v-for="servant in filteredServantList" :servant="servant"/>
    </div>

    <NuxtLink :to="`/dashboard/story/${story?.id}`" class="card bg-base-100" v-show="isImageLoaded">
      <div class="flex flex-col gap-2">
        <nuxt-img :src="story?.banner" @load="isImageLoaded = true" alt=""/>
        <h2 class="text-sm lg:text-lg font-bold servant-name">{{ story.name }}</h2>
      </div>
    </NuxtLink>
  </DashboardLayout>
</template>

<style scoped>

</style>