<script setup lang="ts">
  import DashboardLayout from "~/layouts/DashboardLayout.vue";
  import {useToast} from "vue-toastification";
  import type {ServantStatisticsInterface} from "~/interfaces/Dashboard/Servants/ServantStatisticsInterface";
  import MaterialCard from "~/components/Dashboard/Ressources/MaterialStoryEventCard.vue";
  import ModalSettings from "~/components/Dashboard/Planner/ModalResult.vue";
  import {email, helpers, integer, minValue, required} from "@vuelidate/validators";
  import {useVuelidate} from "@vuelidate/core";
  const baseApiUrl = useRuntimeConfig().public.apiUrl;

  let isDataReceived = ref(false);
  let materials = ref([]);

  let informations = {
    startDate: new Date().toISOString(),
    endDate: new Date().toISOString(),
    totalLogin: 0,
    currentLoginStreak: 0,
    currentSaintQuartz: 0,
    currentSaintQuartzFragments: 0,
    currentSummonTicket: 0,
  };

  const rules = computed(() => {
    return {
      startDate: {
        required: helpers.withMessage("The email field is required", required),
        minValue: val => {
          return new Date(val).toISOString().slice(0, 10) >= new Date().toISOString().slice(0, 10);
        }
      },
      endDate: {
        required: helpers.withMessage("The email field is required", required),
        minValue: val => {
          return new Date(val).toISOString().slice(0, 10) >= new Date().toISOString().slice(0, 10);
        }
      },
      totalLogin: {
        required: helpers.withMessage("The email field is required", required),
        integer: helpers.withMessage("Invalid quantity format", integer),
        minValue: minValue(0),
      },
      currentLoginStreak: {
        required: helpers.withMessage("The email field is required", required),
        integer: helpers.withMessage("Invalid quantity format", integer),
        minValue: minValue(0),
      },
      currentSaintQuartz: {
        required: helpers.withMessage("The email field is required", required),
        integer: helpers.withMessage("Invalid quantity format", integer),
        minValue: minValue(0),
      },
      currentSaintQuartzFragments: {
        required: helpers.withMessage("The email field is required", required),
        integer: helpers.withMessage("Invalid quantity format", integer),
        minValue: minValue(0),
      },
      currentSummonTicket: {
        required: helpers.withMessage("The email field is required", required),
        integer: helpers.withMessage("Invalid quantity format", integer),
        minValue: minValue(0),
      },
    }
  });

  const toast = useToast();
  const { data: rewards, error, pending, execute, status } = useLazyFetch(baseApiUrl + "manager/", {
    immediate: false,
    method: "POST",
    server: false,
    body: informations,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
  });

  const v$ = useVuelidate(rules, informations);

  async function handleForm() {
    const result = await v$.value.$validate();

    if(!result) {
      toast.error("The form is not valid.");
      return;
    }

    execute()
  }

  watch(pending, async (isPending) => {
    if (!isPending) {
      isDataReceived.value = true;
    }
  });

  watch(error, async () => {
    if(error.value) {
      toast.error("Something went wrong");
    }
  });
</script>

<template>
  <DashboardLayout page-title="Manager">
    <div class="flex justify-between">
      <button class="btn btn-primary" onclick="modalSettings.showModal()">Set informations</button>
      <button class="btn btn-circle btn-outline" onclick="modalHelp.showModal()">?</button>
    </div>
    <div class="divider divider-primary"></div>

    <div class="w-full m-auto flex" v-if="pending && status !== 'idle'">
      <div class="loading loading-spinner loading-lg mx-auto text-primary" ></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 mt-5" v-if="!pending && status !== 'idle'">
      <MaterialCard v-for="reward in rewards" :material="reward"/>
    </div>
    <dialog id="modalSettings" class="modal">
      <div class="modal-box">
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Informations!</h3>
        <form @submit.prevent="handleForm" class="">
          <div class="w-full">
            <label class="form-control w-full">
              <div class="label">
                <span class="label-text">Select a date to start from :</span>
              </div>
              <input type="date" :min="informations.startDate.slice(0, 10)" placeholder="Type here" v-model="informations.startDate" class="input input-bordered w-full " required/>
              <div class="label" v-if="v$.startDate.$error">
                <span class="label-text text-error font-semibold">The date cannot be earlier than today or null.</span>
              </div>
            </label>
            <label class="form-control w-full">
              <div class="label">
                <span class="label-text">Select the end date :</span>
              </div>
              <input type="date" :min="informations.endDate.slice(0, 10)" placeholder="Type here" v-model="informations.endDate" class="input input-bordered w-full " required/>
              <div class="label" v-if="v$.endDate.$error">
                <span class="label-text text-error font-semibold">The date cannot be earlier than today or null.</span>
              </div>
            </label>
            <label class="form-control w-full ">
              <div class="label">
                <span class="label-text">Total login :</span>
              </div>
              <input type="number" min="0" v-model.number="informations.totalLogin" placeholder="Type here" class="input input-bordered w-full " required/>
              <div class="label" v-if="v$.totalLogin.$error">
                <span class="label-text text-error font-semibold">The value must be greater or equal to 0.</span>
              </div>
            </label>
            <label class="form-control w-full ">
              <div class="label">
                <span class="label-text">Current login streak :</span>
              </div>
              <input type="number" min="0" v-model.number="informations.currentLoginStreak" placeholder="Type here" class="input input-bordered w-full " required/>
              <div class="label" v-if="v$.currentLoginStreak.$error">
                <span class="label-text text-error font-semibold">The value must be greater or equal to 0.</span>
              </div>
            </label>
            <label class="form-control w-full ">
              <div class="label">
                <span class="label-text">Current Saint Quartz :</span>
              </div>
              <input type="number" min="0" v-model.number="informations.currentSaintQuartz" placeholder="Type here" class="input input-bordered w-full " required/>
              <div class="label" v-if="v$.currentSaintQuartz.$error">
                <span class="label-text text-error font-semibold">The value must be greater or equal to 0.</span>
              </div>
            </label>
            <label class="form-control w-full ">
              <div class="label">
                <span class="label-text">Current Saint Quartz Fragments :</span>
              </div>
              <input type="number" min="0" v-model.number="informations.currentSaintQuartzFragments" placeholder="Type here" class="input input-bordered w-full " required/>
              <div class="label" v-if="v$.currentSaintQuartzFragments.$error">
                <span class="label-text text-error font-semibold">The value must be greater or equal to 0.</span>
              </div>
            </label>
            <label class="form-control w-full ">
              <div class="label">
                <span class="label-text">Current Summon Tickets :</span>
              </div>
              <input type="number" min="0" v-model.number="informations.currentSummonTicket" placeholder="Type here" class="input input-bordered w-full " required/>
              <div class="label" v-if="v$.currentSummonTicket.$error">
                <span class="label-text text-error font-semibold">The value must be greater or equal to 0.</span>
              </div>
            </label>
            <div class="card-actions justify-start mt-5 w-full">
              <button class="btn btn-primary w-full">Show results</button>
            </div>
          </div>
        </form>
      </div>
    </dialog>
    <dialog id="modalHelp" class="modal">
      <div class="modal-box">
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Help</h3>
        <p class="py-4">On this page, you will be able to see all the resources you will be able to obtains between two dates.</p>
        <p class="py-4">First, click on the <b>"Set information" button</b>, then fill the form, and click on show <b>results</b></p>
      </div>
    </dialog>
  </DashboardLayout>
</template>

<style scoped>

</style>