<script setup lang="ts">

</script>
<template>
    <Html data-theme="next-fgo-manager" />
    <Head>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="charset" content="utf-8" />
    </Head>
    <NuxtPage />
</template>
