<script setup lang="ts">
import DefaultLayout from "~/layouts/DefaultLayout.vue";
import type {UserRegisterInterface} from "~/interfaces/UserRegisterInterface";
import { useToast } from "vue-toastification";
import {required, email, sameAs, minLength, helpers} from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

let userInfo: UserRegisterInterface = reactive({
  email: '',
  password: '',
  passwordCheck: ''
});

const rules = computed(() => {
  return {
    email: {
      required: helpers.withMessage("The email field is required", required),
      email: helpers.withMessage("Invalid email format", email)
    },
    password: {
      required: helpers.withMessage("The password field is required", required),
      minLength: minLength(8)
    },
    passwordCheck: {
      required: helpers.withMessage('The password confirmation field is required', required),
      sameAs: helpers.withMessage("Passwords don't match", sameAs(userInfo.password)),
    }
  }
});

const v$ = useVuelidate(rules, userInfo);

async function registerUser() {
  await v$.value.$validate();
  if (!v$.value.$error) {
    const baseApiUrl: string = useRuntimeConfig().public.apiUrl;
    const toast = useToast();

    const { data, error } = await useFetch(baseApiUrl + "user/register", {
      method: "POST",
      body: userInfo,
      server: false
    });

    if(error.value) {
      toast.error(error.value.data);
      return;
    }

    toast.success("Your account has been created, you can now log into !");
    await navigateTo('/login');
  }
}

</script>

<template>
  <DefaultLayout>
    <div class="m-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 min-h-screen">
      <div class="m-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Sign up !</h1>
      </div>
      <form @submit.prevent="registerUser" class="m-auto mb-0 mt-8 max-w-md space-y-4">
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
                v-model="userInfo.email"
                type="email"
                name="email"
                class="input input-bordered w-full"
                placeholder="Enter email"
                :class="{
                  'input-error': v$.email.$error,
                  'input-warning': v$.email.$invalid
                }"
                @change="v$.email.$touch"
                required
            />
          </div>
        </div>

        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input
                v-model="userInfo.password"
                type="password"
                name="password"
                class="input input-bordered w-full"
                placeholder="Enter password"
                :class="{
                  'input-error': v$.password.$error,
                  'input-warning': v$.password.$invalid
                }"
                @change="v$.password.$touch"
                required
            />
          </div>
        </div>

        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password verification</span>
            </label>
            <input
                v-model="userInfo.passwordCheck"
                type="password"
                name="passwordCheck"
                class="input input-bordered w-full"
                placeholder="Verify password"
                :class="{
                  'input-error': v$.passwordCheck.$error,
                  'input-warning': v$.password.$invalid
                }"
                @change="v$.passwordCheck.$touch"
                required
            />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <button type="submit" class="btn btn-primary mx-auto w-full">
            Register
          </button>
        </div>

        <div class="divider"></div>
        <p>
          <span>You already have an account ? </span>
          <NuxtLink class="link" to="/login"> Sign in !</NuxtLink>
        </p>
      </form>
    </div>
  </DefaultLayout>
</template>

<style scoped>

</style>
