<script setup lang="ts">
  import DashboardLayout from "~/layouts/DashboardLayout.vue";
  import {useToast} from "vue-toastification";
  import ServantCardPlanner from "~/components/Dashboard/Planner/ServantCardPlanner.vue";
  import ModalResult from "~/components/Dashboard/Planner/ModalResult.vue";

  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const nuxtApp = useNuxtApp();
  const toast = useToast();

  const { data: servants, error, pending } = useLazyFetch(baseApiUrl + "planner/servant-list", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
  });

  watch(error, async () => {
    if(error.value) {
      toast.error("Something went wrong");
    }
  });

  let servantToPlan = ref([]);

  function addServantToPlan(servant) {
    let servantExists = servantToPlan.value.some(function(currentServant) {
      return currentServant.id === servant.id;
    });

    if(!servantExists) {
      servantToPlan.value.push(servant);
    }
  }

  let servantDataRessources = ref([]);
  let isModalOpen = ref(false);
  async function submitData() {
    const { data: response, error: errorResponse, pending } = await useFetch(baseApiUrl + "planner/servant-ressources", {
      method: "POST",
      server: false,
      body: servantToPlan,
      headers: {
        "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
      },
    });

    if(errorResponse.value) {
      toast.error("Something went wrong");
      return;
    }

    servantDataRessources.value = response.value;
    console.log(servantDataRessources)
    isModalOpen.value = true;
  }

</script>

<template>
  <DashboardLayout page-title="Servant planner">
    <div class="flex justify-between">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text font-semibold">Choose one or more servants</span>
        </div>
        <select class="select select-bordered">
          <option disabled selected>Select a servant</option>
          <option v-for="servant in servants" @click="addServantToPlan(servant)">{{ servant.name }}</option>
        </select>
      </label>
    </div>
    <button class="btn btn-success text-success-content w-full mt-5" onclick="modalSettings.showModal()" @click="submitData">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>

      open modal
    </button>
    <div class="divider divider-primary"></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-5 mt-8">
      <ServantCardPlanner v-for="servant in servantToPlan" :servant="servant" v-if="!pending"/>
    </div>
    <dialog id="modalResult" class="modal">
      <div class="modal-box w-11/12 max-w-5xl space-y-5" v-if="isModalOpen">
        <h3 class="font-bold text-lg mb-5">Needed Ressources</h3>
        <div role="tablist" class="tabs tabs-boxed">
          <a role="tab" class="tab">Servants</a>
          <a role="tab" class="tab tab-active">Owned</a>
          <a role="tab" class="tab">Total needed</a>
        </div>
        <div class="flex flex-col mb-2" v-for="(servantData, index) in servantDataRessources">
          <div class="flex gap-2" v-if="index !== 'user'">
            <div class="avatar">
              <div class="w-24 rounded-full border-2 border-primary">
                <img :src="servantData.icon" :alt="servantData.name"/>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="prose">
                <h4>{{ servantData.name }}</h4>
              </div>
              <div class="flex gap-2">
                <div class="avatar" v-for="ressource in servantData.ressources">
                  <div class="w-12 relative">
                    <img :src="ressource.icon" :alt="ressource.name"/>
                    <div class="absolute bottom-0 right-0 bg-gray-700 text-white px-1 py-0.5 rounded-full text-xs">  {{ ressource.quantity }}  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn btn-primary">Close</button>
          </form>
        </div>
      </div>
    </dialog>
    <ModalResult :response="servantDataRessources"/>
  </DashboardLayout>
</template>

<style scoped>

</style>