<script setup lang="ts">
import {useToast} from "vue-toastification";
import type {CraftEssenceStatisticsInterface} from "~/interfaces/CraftEssenceStatisticsInterface";

const route = useRoute()
const baseApiUrl = useRuntimeConfig().public.apiUrl;
const nuxtApp = useNuxtApp();
const toast = useToast();
const { data: craftEssenceStats, error} = await useFetch<CraftEssenceStatisticsInterface>(baseApiUrl + "craft-essence/statistics", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  },
});

watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});

const series = ref([
  craftEssenceStats.value!.craftEssenceTypeStatistics.svtEquipFriendShip,
  craftEssenceStats.value!.craftEssenceTypeStatistics.svtEquipCampaign,
  craftEssenceStats.value!.craftEssenceTypeStatistics.svtEquipEvent,
  craftEssenceStats.value!.craftEssenceTypeStatistics.svtEquipEventReward,
  craftEssenceStats.value!.craftEssenceTypeStatistics.svtEquipManaExchange,
  craftEssenceStats.value!.craftEssenceTypeStatistics.normal,
  craftEssenceStats.value!.craftEssenceTypeStatistics.unknown,
]);

const options = ref({
  chart: {
    type: "donut",
  },
  plotOptions: {
    donut: {
      borderRadius: 10,
      borderRadiusApplication: "around",
    },
  },
  labels: ['Bond CE', 'Campaign CE', 'Event CE', 'Event Reward CE', 'Shop CE', 'Gacha CE', 'Other CE'],
});


</script>

<template>
  <div class="stats shadow bg-base-100 w-full mx-auto">
    <div class="stat">
      <div class="stat-title">Total obtained</div>
      <div class="stat-value text-primary"> {{ craftEssenceStats.totalCraftEssenceObtained }} </div>
    </div>

    <div class="stat">
      <div class="stat-title">Total unobtained</div>
      <div class="stat-value text-error">{{ craftEssenceStats.totalCraftEssenceUnobtained }}</div>
    </div>

    <div class="stat">
      <div class="stat-value">{{ craftEssenceStats.totalCraftEssenceObtainedPercentage }} %</div>
      <div class="stat-title">of existing craft essences obtained</div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-5 mt-5">
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Craft Essences by type</h2>
          <div class="w-full">
            <apexchart
                :key="series"
                height="400"
                width="100%"
                :options="options"
                :series="series"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-5 w-full">
      <div class="card shadow bg-base-100 text-base-content">
        <div class="card-body">
          <h2 class="card-title">5 Stars</h2>
          <p>We are using cookies for no reason.</p>
          <progress
              class="progress progress-primary w-full"
              :value="craftEssenceStats.craftEssenceRarityProgress.fiveStars.user"
              :max="craftEssenceStats.craftEssenceRarityProgress.fiveStars.game"
          />
        </div>
      </div>
      <div class="card shadow bg-base-100 text-base-content">
        <div class="card-body">
          <h2 class="card-title">4 Stars</h2>
          <p>We are using cookies for no reason.</p>
          <progress
              class="progress progress-primary w-full"
              :value="craftEssenceStats.craftEssenceRarityProgress.fourStars.user"
              :max="craftEssenceStats.craftEssenceRarityProgress.fourStars.game"
          />
        </div>
      </div>
      <div class="card shadow bg-base-100 text-base-content">
        <div class="card-body">
          <h2 class="card-title">3 Stars</h2>
          <p>We are using cookies for no reason.</p>
          <progress
              class="progress progress-primary w-full"
              :value="craftEssenceStats.craftEssenceRarityProgress.threeStars.user"
              :max="craftEssenceStats.craftEssenceRarityProgress.threeStars.game"
          />
        </div>
      </div>
      <div class="card shadow bg-base-100 text-base-content">
        <div class="card-body">
          <h2 class="card-title">2 Stars</h2>
          <p>We are using cookies for no reason.</p>
          <progress
              class="progress progress-primary w-full"
              :value="craftEssenceStats.craftEssenceRarityProgress.twoStars.user"
              :max="craftEssenceStats.craftEssenceRarityProgress.twoStars.game"
          />
        </div>
      </div>
      <div class="card shadow bg-base-100 text-base-content col-span-2">
        <div class="card-body">
          <h2 class="card-title">1 Stars</h2>
          <p>We are using cookies for no reason.</p>
          <progress
              class="progress progress-primary w-full"
              :value="craftEssenceStats.craftEssenceRarityProgress.oneStars.user"
              :max="craftEssenceStats.craftEssenceRarityProgress.oneStars.game"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>