<script setup lang="ts">
  import {useToast} from "vue-toastification";
  import type {ServantStatisticsInterface} from "~/interfaces/Dashboard/Servants/ServantStatisticsInterface";

  const route = useRoute()
  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const nuxtApp = useNuxtApp();
  const toast = useToast();

  const { data: story, error} = await useFetch(baseApiUrl + "story/statistics", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
  });

  watch(error, async () => {
    if(error.value) {
      toast.error("Something went wrong");
    }
  });

  const series1 = ref([
    {
      name: "Observer over the timeless temple",
      data: [story.value.chapters[0]["Cleared"], story.value.chapters[0]["InProgress"], story.value.chapters[0]["NotDone"]],
    },
  ]);

  const series2 = ref([
    {
      name: "Epic Of Remnant",
      data: [story.value.chapters[1]["Cleared"], story.value.chapters[1]["InProgress"], story.value.chapters[1]["NotDone"]],
    },
  ]);

  const series3 = ref([
    {
      name: "Cosmos in the Lostbelts",
      data: [story.value.chapters[2]["Cleared"], story.value.chapters[2]["InProgress"], story.value.chapters[2]["NotDone"]],
    },
  ]);

  const series4 = ref([
    {
      name: "Ordeal Call",
      data: [story.value.chapters[3]["Cleared"], story.value.chapters[3]["InProgress"], story.value.chapters[3]["NotDone"]],
    },
  ]);

  const options = ref({
    chart: {
      type: "bar",
    },
    plotOptions: {
      donut: {
        borderRadius: 10,
        borderRadiusApplication: "around",
      },
    },
    labels: ["Cleared", "In Progress", "Not Done"],
  });
</script>

<template>
  <div class="stats shadow bg-base-100 w-full mx-auto">

    <div class="stat">
      <div class="stat-title">Cleared chapters</div>
      <div class="stat-value text-primary">{{ story.totalChaptersCleared }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Total chapters</div>
      <div class="stat-value text-error">{{ story.totalChapters }}</div>
    </div>

    <div class="stat">
      <div class="stat-value">{{ story.totalChaptersClearedPercentage }}%</div>
      <div class="stat-title">Done</div>
      <div class="stat-desc text-secondary">{{ story.totalChapters - story.totalChaptersCleared }} chapters remaining</div>
    </div>

  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mt-5">
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Observer over the timeless temple</h2>
          <div class="w-full">
            <apexchart
                :key="series1"
                height="400"
                width="100%"
                :options="options"
                :series="series1"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Epic Of Remnant</h2>
          <div class="w-full">
            <apexchart
                :key="series2"
                height="400"
                width="100%"
                :options="options"
                :series="series2"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Cosmos in the Lostbelts</h2>
          <div class="w-full">
            <apexchart
                :key="series3"
                height="400"
                width="100%"
                :options="options"
                :series="series3"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Ordeal Call</h2>
          <div class="w-full">
            <apexchart
                :key="series4"
                height="400"
                width="100%"
                :options="options"
                :series="series4"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>