<script setup lang="ts">

import type {PropType} from "vue";
import type {StoryInterface} from "~/interfaces/StoryInterface";
import ServantCardSkeleton from "~/components/Skeletons/Servants/ServantCardSkeleton.vue";
import StoryCardSkeleton from "~/components/Skeletons/Story/StoryCardSkeleton.vue";

defineProps({
  story: Object as PropType<StoryInterface>
});

let isImageLoaded = ref(false);
</script>

<template>
  <div v-show="!isImageLoaded">
    <StoryCardSkeleton/>
  </div>
  <NuxtLink :to="`/dashboard/story/${story?.id}`" class="card w-full bg-base-100 shadow border-base-100 border-2 hover:border-primary transition-all duration-500 cursor-pointer">
    <figure class="px-10 pt-10">
      <nuxt-img :src="story?.banner" @load="isImageLoaded = true" :alt="story.name" class="rounded-xl" />
    </figure>
    <div class="card-body">
      <h2 class="text-sm lg:text-lg font-bold servant-name">{{ story.name }}</h2>
    </div>
  </NuxtLink>
</template>

<style scoped>

</style>