<script setup lang="ts">

</script>

<template>
  <div class="flex flex-col gap-4 w-full">
    <div class="skeleton h-20 w-full"></div>
    <div class="skeleton h-4 w-full"></div>
  </div>
</template>

<style scoped>

</style>