<script setup lang="ts">
  import {useToast} from "vue-toastification";
  import type {PropType} from "vue";
  import type {ServantCardInterface} from "~/interfaces/ServantCardInterface";

  const toast = useToast();

  let props = defineProps({
    id: Number,
    chapterState: String
  });

  let state = ref(props.chapterState);

  function submitChange() {
    const baseApiUrl = useRuntimeConfig().public.apiUrl;
    const { data, error } = useFetch(baseApiUrl + "story/quest/update/" + props.id, {
      method: "POST",
      server: false,
      body: {
        state: state.value
      },
      headers: {
        "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
      }
    });

    if(error.value) {
      toast.error("Something went wrong");
    } else {
      toast.success("State of chapter updated");
    }
  }
</script>

<template>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Chapter state</span>
    </div>
    <select class="select select-bordered w-full max-w-sm mb-5" v-model="state" @change="submitChange()">
      <option disabled selected>Select the current state for this chapter</option>
      <option value="Not Done">Not done</option>
      <option value="In Progress">In progress</option>
      <option value="Cleared">Cleared</option>
    </select>
  </label>
</template>

<style scoped>

</style>