<script setup lang="ts">

import type {PropType} from "vue";
import ServantCard from "~/components/Dashboard/Servants/ServantCard.vue";
import type {SpotCardInterface} from "~/interfaces/SpotCardInterface";

let props = defineProps({
  spot: Object as PropType<SpotCardInterface>
})

</script>

<template>
  <div class="form-control">
    <label class="label cursor-pointer">
      <div class="card card-side bg-base-100 hover:shadow-xl border transition-all duration-500">
        <figure><nuxt-img :src="spot.image" alt="Movie"/></figure>
        <div class="card-body prose">
          <h4 class="">{{ spot.name }}</h4>
          <div class="card-actions justify-end">
            <input type="checkbox" class="toggle" checked />
          </div>
        </div>
      </div>
    </label>
  </div>
</template>

<style scoped>

</style>