<script setup lang="ts">

import StoryCardSkeleton from "~/components/Skeletons/Story/StoryCardSkeleton.vue";
</script>

<template>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
    <StoryCardSkeleton/>
  </div>
</template>

<style scoped>

</style>