<script setup lang="ts">
    import type {MaterialCardInterface} from "~/interfaces/MaterialCardInterface";

    const props = defineProps({
        material: Object as PropType<MaterialCardInterface>
    });
</script>

<template>
  <div class="card w-full bg-base-100 border-base-200 border-2 hover:shadow-xl transition-all duration-500 cursor-pointer hover:border-primary" @click="$emit('open-modal', material)" onclick="materialUpdate.showModal()">
    <div class="card-body">
      <div class="flex justify-between">
        <div>
          <h2 class="card-title">{{ material!.name }}</h2>
          <p class="lg:text-3xl mt-5">{{ material!.quantity }}</p>
        </div>
        <div class="avatar">
          <div class="w-16 lg:w-24 rounded-xl">
            <nuxt-img :src="material!.icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
