<script setup lang="ts">
    import type {MaterialCardInterface} from "~/interfaces/MaterialCardInterface";
    import {useToast} from "vue-toastification";
    const props = defineProps({
        material: Object as PropType<MaterialCardInterface>
    });

    const getDialogId = (id: number) => `modalMaterial${id}`;

    let materialData = {
      id: props.material!.id,
      quantity: props.material!.quantity
    };
</script>

<template>
  <div class="card w-full bg-base-100 shadow border-2 hover:shadow-xl transition-all duration-500 cursor-pointer border-base-100 hover:border-primary">
    <div class="card-body">
      <div class="flex gap-5">
        <div class="avatar">
          <div class="w-16 h-16 lg:w-24 lg:h-24 rounded-xl">
            <nuxt-img :src="material?.icon" :alt="material.name"/>
          </div>
        </div>
        <div>
          <h2 class="card-title">{{ material.name }}</h2>
          <p class="lg:text-3xl mt-5">{{ materialData.quantity }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
