<script setup lang="ts">

import {useToast} from "vue-toastification";
import {email, helpers, integer, required, minValue, maxValue} from "@vuelidate/validators";
import {useVuelidate} from "@vuelidate/core";

import type {MaterialCardInterface} from "~/interfaces/MaterialCardInterface";
const props = defineProps({
  material: Object as PropType<MaterialCardInterface>
});

let materialData = reactive({
  id: props.material!.id,
  quantity: props.material!.quantity
});

/**
 * Set of rules for input validation
 *
 * Quantity : Must be an integer, and have a value between 0 and 2_000_000_000
 */
const rules = computed(() => {
  return {
    quantity: {
      required: helpers.withMessage("The email field is required", required),
      integer: helpers.withMessage("Invalid quantity format", integer),
      minValue: minValue(0),
      maxValue: maxValue(2000000000),
    },
  }
});

const v$ = useVuelidate(rules, materialData);

/**
 * Function that update the quantity of a selected material
 *
 * This function will check if there is an error on the input file, based on the rules set before.
 * If there is no errors, we update the quantity by sending a request to the api
 */
async function updateMaterial() {
  const toast = useToast();
  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const result = await v$.value.$validate();

  if(!result) {
    toast.error("The data of the field is not valid.");
    return;
  }

  const { data, error } = await useFetch(baseApiUrl + "material/update", {
    method: "PATCH",
    body: materialData,
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
  });

  if(error.value) {
    toast.error("Something went wrong");
  } else {
    toast.success("Ressource information updated !");
  }
}
</script>

<template>
  <dialog id="materialUpdate" class="modal">
    <div class="modal-box">
      <form method="dialog" @click="$emit('close-modal')">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="font-bold text-lg">{{ material!.name }}</h3>
      <form class="py-4" @submit.prevent="updateMaterial">
        <div class="label">
          <span class="label-text">Quantity</span>
        </div>
        <label class="form-control w-full max-w-xs">
          <div class="join">
            <input type="number" max="2000000000" v-model="materialData.quantity" class="input input-bordered join-item" :class="{'input-error': v$.quantity.$error}" required/>
            <button class="btn join-item btn-primary text-primary-content">Update</button>
          </div>
        </label>
        <div class="label" v-if="v$.quantity.$error">
          <span class="label-text text-error font-semibold">The quantity must be a number, greater or equal to 0</span>
        </div>
      </form>
    </div>
    <form method="dialog" class="modal-backdrop" @click="$emit('close-modal')">
      <button>close</button>
    </form>
  </dialog>
</template>

<style scoped>

</style>