<script setup lang="ts">

import {useToast} from "vue-toastification";
import DashboardLayout from "~/layouts/DashboardLayout.vue";
import StoryCard from "~/components/Dashboard/Story/StoryCard.vue";
import StoryGridSkeleton from "~/components/Skeletons/Story/StoryGridSkeleton.vue";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const toast = useToast();

const { data, error, pending } = useLazyFetch(baseApiUrl + "story/list", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  }
});

let selectedTabIndex = ref(0);
let tabs = [
  { title: 'Observer over the timeless temple' },
  { title: 'Epic of remnant' },
  { title: 'Cosmos in the Lostbelts' }
];

function changeSelectedTabIndex(index: number) {
  selectedTabIndex.value = index;
}


watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});

</script>

<template>
  <DashboardLayout page-title="Story chapters">
    <div role="tablist" class="tabs tabs-boxed bg-base-100 shadow">
      <a role="tab" class="tab" v-for="(tab, index) in tabs"
         :class="{
            'tab-active': index === selectedTabIndex,
          }"
         @click="changeSelectedTabIndex(index)"
      >
        {{ tab.title }}
      </a>
    </div>

    <StoryGridSkeleton v-if="pending" />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5" v-else>
      <StoryCard v-for="story in data[selectedTabIndex]" :story="story" />
    </div>
  </DashboardLayout>
</template>

<style scoped>

</style>
