<script setup lang="ts">
  import DashboardLayout from "~/layouts/DashboardLayout.vue";
  import ServantCard from "~/components/Dashboard/Servants/ServantCard.vue";
  import {useToast} from "vue-toastification";
  import ServantGridCardSkeleton from "~/components/Skeletons/Servants/ServantGridCardSkeleton.vue";
  import type {ServantListInterface} from "~/interfaces/Servants/ServantListInterface";

  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const nuxtApp = useNuxtApp();
  const toast = useToast();

  /**
   * Fetch the next-fgo-manager API to get all the servants of the game.
   */
  const { data: servants, error, pending } = useLazyFetch<ServantListInterface[]>(baseApiUrl + "servants/list", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
    getCachedData(key) {
      return nuxtApp.payload.data[key] || nuxtApp.static.data[key];
    }
  });

  /**
   * Watcher to set a variable "filteredServantList", that will be used allow the user to filter the list of servants
   */
  let filteredServantList: ServantListInterface[] = [];
  watch(servants, async () => {
    filteredServantList = [...servants.value];
  });

  /**
   * Watcher to check if an error happened while fetching the data from the API
   */
  watch(error, async () => {
    if(error.value) {
      toast.error("Something went wrong");
    }
  });

  /**
   * Watcher to filter the list of servants based on their class
   *
   * Changing the value of the search input will reset the servantSearch and servantRarity value to default
   */
  const servantClass = ref<string>('all');
  watch(servantClass, async (newClass) => {
    servantSearch.value = '';
    servantRarity.value = 'all'
    filteredServantList = servants.value!.filter((currentServant) => {
      return currentServant.class === newClass || newClass === "all";
    });
  });

  /**
   * Watcher to filter the list of servants based on their rarity
   *
   * Changing the value of the search input will reset the servantClass and servantSearch value to default
   */
  const servantRarity = ref<number|string>('all');
  watch(servantRarity, async (newRarity, oldRarity) => {
    servantClass.value = 'all';
    servantSearch.value = '';
    filteredServantList = servants.value!.filter((currentServant) => {
      return currentServant.rarity == newRarity || newRarity === "all";
    });
  });

  /**
   * Watcher to filter the list of servants based on their name
   *
   * Changing the value of the search input will reset the servantClass and servantRarity value to default
   */
  const servantSearch = ref<string>('');
  watch(servantSearch, async (newServantSearch, oldServantSearch) => {
    servantClass.value = 'all';
    servantRarity.value = 'all';
    filteredServantList = servants.value!.filter((currentServant) => {
      return currentServant.name.toLowerCase().includes(newServantSearch.toLowerCase()) || newServantSearch === "";
    });
  });
</script>

<template>
  <DashboardLayout page-title="Servant list">
    <div class="flex flex-col lg:flex-row gap-2">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Search a servant</span>
        </div>
        <input type="text" class="input input-bordered flex items-center gap-2" placeholder="Jeanne D'Arc" v-model="servantSearch"/>
      </label>
      <label class="">

      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Rarity</span>
        </div>
        <select class="select select-bordered select-primary w-full max-w-xs" id="search-servant-by-rarity" v-model="servantRarity">
          <option disabled selected>Select a rarity</option>
          <option value="all">All</option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </label>
    </div>

    <div class="mt-5 w-full">
      <div class="flex flex-wrap gap-2">
        <div class="tooltip tooltip-info" data-tip="All">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'all' }" @click="servantClass = 'all'">
            <img alt="all-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/c/c1/Class-All-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Saber">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'saber' }" @click="servantClass = 'saber'">
            <img alt="saber-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/2/20/Class-Saber-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Archer">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'archer' }" @click="servantClass = 'archer'">
            <img alt="archer-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/4/42/Class-Archer-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Lancer">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'lancer' }" @click="servantClass = 'lancer'">
            <img alt="lancer-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/6/6a/Class-Lancer-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Rider">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'rider' }" @click="servantClass = 'rider'">
            <img alt="rider-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/1/16/Class-Rider-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Caster">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'caster' }" @click="servantClass = 'caster'">
            <img alt="caster-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/2/2a/Class-Caster-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Assassin">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'assassin' }" @click="servantClass = 'assassin'">
            <img alt="assassin-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/6/64/Class-Assassin-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Berserker">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'berserker' }" @click="servantClass = 'berserker'">
            <img alt="berserker-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/e/e2/Class-Berserker-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Ruler">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'ruler' }" @click="servantClass = 'ruler'">
            <img alt="ruler-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/2/21/Class-Ruler-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Avenger">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'avenger' }" @click="servantClass = 'avenger'">
            <img alt="avenger-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/c/c7/Class-Avenger-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Moon Cancer">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'moonCancer' }" @click="servantClass = 'moonCancer'">
            <img alt="moon-cancer-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/6/65/Class-MoonCancer-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Alter Ego">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'alterEgo' }" @click="servantClass = 'alterEgo'">
            <img alt="alter-ego-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/1/1b/Class-Alterego-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Foreigner">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'foreigner' }" @click="servantClass = 'foreigner'">
            <img alt="foreigner-class-icon"  src="https://static.wikia.nocookie.net/fategrandorder/images/e/e5/Class-Foreigner-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Pretender">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'pretender' }" @click="servantClass = 'pretender'">
            <img alt="pretender-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/2/28/Class-Pretender-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Beast">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'beast' }" @click="servantClass = 'beast'">
            <img alt="beast-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/d/df/Class-Beast-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
        <div class="tooltip tooltip-info" data-tip="Shielder">
          <button type="button" class="btn" :class="{ 'btn-primary': servantClass === 'shielder' }" @click="servantClass = 'shielder'">
            <img alt="shielder-class-icon" src="https://static.wikia.nocookie.net/fategrandorder/images/3/3c/Class-Shielder-Gold.webp" class="w-8 h-auto"/>
          </button>
        </div>
      </div>
    </div>
    <div class="divider divider-primary"></div>
    <ServantGridCardSkeleton v-if="pending || error"/>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5" v-else>
      <ServantCard v-for="servant in filteredServantList" :servant="servant"/>
    </div>
  </DashboardLayout>
</template>

<style scoped>

</style>