<script setup lang="ts">

import type {PropType} from "vue";
import type {StoryInterface} from "~/interfaces/StoryInterface";
import StoryCardSkeleton from "~/components/Skeletons/Story/StoryCardSkeleton.vue";
import EventCardSkeleton from "~/components/Skeletons/Events/EventCardSkeleton.vue";

defineProps({
  story: Object as PropType<StoryInterface>
});

let isImageLoaded = ref(false);
function imageHasLoaded() {
  isImageLoaded.value = true;
}

let hasImageError = ref(false);
function handleImageError () {
  hasImageError.value = true;
}
// Problème image error 404
</script>

<template>
  <div v-show="!isImageLoaded && !hasImageError">
    <EventCardSkeleton/>
  </div>
  <NuxtLink :to="`/dashboard/events/${story?.id}`" class="card w-full bg-base-100 shadow border-base-100 border-2 hover:border-primary transition-all duration-500 cursor-pointer">
    <figure class="px-10 pt-10">
      <nuxt-img :src="story?.banner" @load="imageHasLoaded" alt="" @error="handleImageError" :alt="story.name" class="rounded-xl" v-if="!hasImageError"/>
      <div class="skeleton h-20 w-full" v-else></div>
    </figure>
    <div class="card-body">
      <h2 class="text-sm lg:text-lg font-bold servant-name">{{ story.name }}</h2>
    </div>
  </NuxtLink>
</template>

<style scoped>

</style>
