<script setup lang="ts">

import type {PropType} from "vue";
import type {RessourcesNeededResponse} from "~/interfaces/Planner/RessourcesNeededResponse";
import ServantRessourcesWindow from "~/components/Dashboard/Planner/Servant/ServantRessourcesWindow.vue";
import UserRessourcesWindow from "~/components/Dashboard/Planner/User/UserRessourcesWindow.vue";
import TotalRessourcesWindow from "~/components/Dashboard/Planner/Total/TotalRessourcesWindow.vue";

let props = defineProps({
  response: Object as PropType<RessourcesNeededResponse>
})

let selectedTabIndex = ref(0);

function changeSelectedTabIndex(index: number) {
  selectedTabIndex.value = index;
}

let tabs = [
  { title: 'Servants' },
  { title: 'Owned' },
  { title: 'Total' },
];

</script>

<template>
  <dialog id="modalSettings" class="modal">
    <div class="modal-box w-11/12 max-w-5xl space-y-5">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="font-bold text-lg mb-5">Needed Ressources</h3>
      <div role="tablist" class="tabs tabs-boxed">
        <a role="tab" class="tab transition-all duration-200" v-for="(tab, index) in tabs"
           :class="{
            'tab-active': index === selectedTabIndex,
          }"
           @click="changeSelectedTabIndex(index)"
        >
          {{ tab.title }}
        </a>
      </div>
      <ServantRessourcesWindow :servants="response!.servants" v-if="selectedTabIndex === 0"/>
      <UserRessourcesWindow :user="response!.user" v-if="selectedTabIndex === 1"/>
      <TotalRessourcesWindow :total="response!.total" v-if="selectedTabIndex === 2"/>
    </div>
  </dialog>
</template>

<style scoped>

</style>