<script setup lang="ts">
  import type {PropType} from "vue";
  import type {ServantCardInterface} from "~/interfaces/ServantCardInterface";
  import Stars from "~/components/Dashboard/Stars.vue";
  import {useToast} from "vue-toastification";

  const toast = useToast();

  let props = defineProps({
    servant: Object as PropType<ServantCardInterface>
  });

  let isImageLoaded = ref(false);
  function imageHasLoaded() {
    isImageLoaded.value = true;
  }

  const getDialogId = (id: number) => `modalServant${id}`;
  const showModal = () => {
    document.getElementById(getDialogId(props.servant!.id))!.showModal();
  };

  const setAppendSkills = ref(false);
  function changeSetAppendSkills() {
    setAppendSkills.value = !setAppendSkills.value;
  }

  let targetLevels = ref({
    skill1: 1,
    skill2: 1,
    skill3: 1,
    append1: 1,
    append2: 1,
    append3: 1,
  });

  function handleFormValidation() {
    props.servant.target = targetLevels.value;
    toast.info("Target levels updated")
  }
</script>

<template>
  <div class="card w-full bg-base-100 hover:shadow border-base-100 border-2 hover:border-primary transition-all duration-500 cursor-pointer">
    <div class="card-actions p-4 justify-end">
      <button class="btn btn-error btn-outline btn-sm btn-circle">X</button>
    </div>
    <figure class="px-10">
      <img :src="servant?.icon" alt="Shoes" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">{{servant?.name}}</h2>
      <div class="flex justify-between">
        <p>Skill Lvl.</p>
        <p>Target Lvl.</p>
      </div>
      <div class="join gap-2 w-full">
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="servant.skills.skill1" disabled>
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
        <div class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="targetLevels.skill1">
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
      </div>

      <div class="join gap-2 w-full">
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="servant.skills.skill2" disabled>
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
        <div class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="targetLevels.skill2">
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
      </div>

      <div class="join gap-2 w-full">
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="servant.skills.skill3" disabled>
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
        <div class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="targetLevels.skill3">
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
      </div>

      <div class="form-control">
        <label class="label cursor-pointer space-x-4">
          <span class="label-text font-semibold">Set append skills</span>
          <input type="checkbox" :checked="setAppendSkills" class="checkbox checkbox-primary" @change="changeSetAppendSkills"/>
        </label>
      </div>

      <div class="join gap-2 w-full" v-if="setAppendSkills" >
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="servant.appends.append1" disabled>
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
        <div class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="targetLevels.append1">
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
      </div>

      <div class="join gap-2 w-full" v-if="setAppendSkills">
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="servant.appends.append2" disabled>
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
        <div class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="targetLevels.append2">
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
      </div>

      <div class="join gap-2 w-full" v-if="setAppendSkills">
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="servant.appends.append3" disabled>
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
        <div class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
        <label class="form-control w-full max-w-xs join-item">
          <select class="select select-bordered" v-model.number="targetLevels.append3">
            <option v-for="n in 10">{{ n }}</option>
          </select>
        </label>
      </div>

      <button @click="handleFormValidation" class="btn btn-primary w-full">Set levels</button>
    </div>
  </div>
</template>

<style scoped>

</style>