<script setup lang="ts">
import type {PropType} from "vue";
import type {ServantRessourcesInterface} from "~/interfaces/Planner/Servant/ServantRessourcesInterface";
import type {UserRessourcesInterface} from "~/interfaces/Planner/User/UserRessourcesInterface";

let props = defineProps({
  user: Object as PropType<UserRessourcesInterface[]>
})
</script>

<template>
  <div class="flex flex-col mb-2">
    <div class="card">
        <div class="card-body">
          <div class="flex gap-2">
          <div class="flex flex-col gap-2">
            <div class="flex gap-2">
              <div class="avatar" v-for="ressource in user">
                <div class="w-16 relative">
                  <img :src="ressource.icon" :alt="ressource.name"/>
                  <div class="absolute bottom-0 right-0 bg-gray-700 text-white px-1 py-0.5 rounded-full text-xs">  {{ ressource.quantity }}  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
