<script setup lang="ts">
import DashboardLayout from "~/layouts/DashboardLayout.vue";
import ServantTab from "~/components/Dashboard/UserProfile/Servants/ServantsTab.vue";
import ServantsTab from "~/components/Dashboard/UserProfile/Servants/ServantsTab.vue";
import CraftEssenceTab from "~/components/Dashboard/UserProfile/CraftEssenceTab.vue";
import StoryTab from "~/components/Dashboard/UserProfile/StoryTab.vue";
import ServantGlobStatistics from "~/components/Dashboard/GlobalStatistics/ServantGlobStatistics.vue";
import CraftEssenceGlobStatistics from "~/components/Dashboard/GlobalStatistics/CraftEssenceGlobStatistics.vue";
import StoryGlobStatistics from "~/components/Dashboard/GlobalStatistics/StoryGlobStatistics.vue";

let selectedTabIndex = ref(0);
function changeSelectedTabIndex(index: number) {
  selectedTabIndex.value = index;
}
let tabs = [
  { title: 'Servants' },
  { title: 'Craft Essences' },
  { title: 'Story' },
];
</script>

<template>
  <DashboardLayout page-title="Global statistics">
    <div role="tablist" class="tabs tabs-boxed mb-5 bg-base-100 shadow">
      <a role="tab" class="tab transition-all duration-200" v-for="(tab, index) in tabs"
         :class="{
            'tab-active': index === selectedTabIndex,
          }"
         @click="changeSelectedTabIndex(index)"
      >
        {{ tab.title }}
      </a>
    </div>
    <ServantGlobStatistics v-if="selectedTabIndex === 0"/>
    <CraftEssenceGlobStatistics v-if="selectedTabIndex === 1"/>
    <StoryGlobStatistics v-if="selectedTabIndex === 2"/>
  </DashboardLayout>
</template>

<style scoped>

</style>