<script setup lang="ts">
  import DefaultLayout from "~/layouts/DefaultLayout.vue";
  import {useToast} from "vue-toastification";
  import {required, email, sameAs, minLength, helpers} from '@vuelidate/validators';
  import { useVuelidate } from '@vuelidate/core';

  let userInfo = {
    email: '',
  };

  /**
   * Set of rules for input validation
   *
   * email : Must be an email, and is required
   * password : Must be at least 8 characters, and is required
   * passwordCheck : Must be the same as password, and is required
   */
  const rules = computed(() => {
    return {
      email: {
        required: helpers.withMessage("The email field is required", required),
      },
    }
  });

  const v$ = useVuelidate(rules, userInfo);

  /**
   * Function that sends a request to register to request a password change
   */
  async function resetPassword() {
    const toast = useToast();
    const baseApiUrl = useRuntimeConfig().public.apiUrl;

    const result = await v$.value.$validate();

    if(!result) {
      toast.error("The form is not valid.");
      return;
    }

    const { data, error } = await useFetch(baseApiUrl + "user/reset-password", {
      method: "POST",
      server: false,
      body: {
        email: userInfo.email
      }
    });

    if(error.value) {
      toast.error(error.value.data);
      return;
    }

    toast.success("An email will be sent in a few minutes if an account has been found with this email.");
  }
</script>

<template>
  <DefaultLayout>
    <div class="m-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 min-h-screen">
      <div class="m-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Reset your password</h1>
      </div>
      <form @submit.prevent="resetPassword" class="m-auto mb-0 mt-8 max-w-md space-y-4 prose">
        <p>Forgot your password? No worries! Enter the email address associated with your account below. If we find a match, we'll send you an email with instructions to reset your password.</p>
        <div class="divider"></div>
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input v-model="userInfo.email" type="email" name="email" class="input input-bordered w-full" placeholder="Enter email" required/>
            <div class="label" v-if="v$.email.$error">
              <span class="label-text text-error font-semibold">This email is not valid.</span>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button type="submit" class="btn btn-primary mx-auto w-full">
            Reset my password
          </button>
        </div>
      </form>
    </div>
  </DefaultLayout>
</template>

<style scoped>

</style>