<script setup lang="ts">
import {useToast} from "vue-toastification";
import DashboardLayout from "~/layouts/DashboardLayout.vue";
import EventCard from "~/components/Dashboard/Event/EventCard.vue";
import CraftEssenceCardGridSkeleton from "~/components/Skeletons/CraftEssences/CraftEssenceCardGridSkeleton.vue";
import EventGridSkeleton from "~/components/Skeletons/Events/EventGridSkeleton.vue";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const nuxtApp = useNuxtApp();
const toast = useToast();

const { data, error, pending } = useLazyFetch(baseApiUrl + "events/list", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  },
  getCachedData(key) {
    return nuxtApp.payload.data[key] || nuxtApp.static.data[key];
  }
});

let filteredEventList = [];

const eventSearch = ref('');
watch(eventSearch, async (newEventSearch, oldEventSearch) => {
  console.log(newEventSearch);
  filteredEventList = data.value!.filter((currentEvent) => {
    return currentEvent.name.toLowerCase().includes(newEventSearch.toLowerCase()) || newEventSearch === "";
  });
})

watch(pending, async () => {
  filteredEventList = [...data.value];
});

watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});
</script>

<template>
    <DashboardLayout page-title="Event list">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Search a event</span>
        </div>
        <input type="text" class="input input-bordered input-primary flex items-center gap-2" placeholder="Black Grail" v-model="eventSearch"/>
      </label>
      <div class="divider divider-primary"></div>
      <EventGridSkeleton v-if="pending || error"/>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5" v-else>
          <EventCard v-for="event in filteredEventList" :story="event"/>
        </div>
    </DashboardLayout>
</template>

<style scoped>

</style>
