<script setup lang="ts">

</script>

<template>
  <div>
    <div class="prose mb-5">
      <h1>Features</h1>
    </div>
    <nuxt-img src="/images/landingpage.png" />
    <div class="prose mb-5">
      <p>Our application aims to help you manage your Fate/Grand Order account more effectively, see below what we offer : </p>
    </div>
    <div class="grid grid-cols-2 gap-5">
      <div class="card w-full bg-base-100 border-2 hover:border-primary duration-500 transition-all">
        <div class="card-body">
          <h2 class="card-title">Servants</h2>
          <p>Manage your servants, add them to your collection and set their data. !</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 border-2 hover:border-primary duration-500 transition-all">
        <div class="card-body">
          <h2 class="card-title">Craft Essences</h2>
          <p>Manage your craft essences, add them to your collection !</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 border-2 hover:border-primary duration-500 transition-all">
        <div class="card-body">
          <h2 class="card-title">Manager</h2>
          <p>See the resources you need to level up your servants !</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 border-2 hover:border-primary duration-500 transition-all">
        <div class="card-body">
          <h2 class="card-title">Planner</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 border-2 hover:border-primary duration-500 transition-all">
        <div class="card-body">
          <h2 class="card-title">Resources</h2>
          <p>See all the resources of a story chapter or an event, set them to your collection</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 border-2 hover:border-primary duration-500 transition-all">
        <div class="card-body">
          <h2 class="card-title">Statistics</h2>
          <p>See some statistics of your account generated by the data you set on the app</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>