<script setup lang="ts">

</script>

<template>
  <footer class="footer p-10 bg-primary text-primary-content">
    <aside>
      <p>Next-FGO-Manager.</p>
    </aside>
    <nav>
      <h6 class="footer-title">Services</h6>
      <a class="link link-hover">Branding</a>
      <a class="link link-hover">Design</a>
      <a class="link link-hover">Marketing</a>
      <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover">Discord</a>
      <a class="link link-hover">Gitlab</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover">Terms of use</a>
      <NuxtLink to="/privacy-policy" class="link link-hover">Privacy and Cookie policy</NuxtLink>
    </nav>
  </footer>
</template>

<style scoped>

</style>