<script setup lang="ts">

</script>

<template>
  <div class="hero min-h-screen" style="background-image: url(https://images.rpgsite.net/image/da49c9a1/127049/original/FGO-Avalon-Feature_01.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">NEXT-FGO-MANAGER</h1>
        <p class="py-6">Track resources, plan upgrades, level up your Fate gameplay.</p>
        <NuxtLink to="/login" class="btn btn-primary">Get Started</NuxtLink>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>