<script setup lang="ts">
  let isUserLogged: boolean = false;
  const cookie = useCookie('X-AUTH-TOKEN')

  if (cookie.value) {
    isUserLogged = true;
  }
</script>

<template>
  <div class="navbar bg-base-100 text-base-content sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)]
  shadow-sm">
    <div class="navbar-start space-x-2">
      <NuxtLink to="/">
        <svg width="50" height="108" viewBox="0 0 206 208" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="206" height="208" fill="white"/>
          <g filter="url(#filter0_i_1123_10)">
            <rect x="8" y="7" width="188" height="193" rx="12" fill="#1E3A8A"/>
          </g>
          <g filter="url(#filter1_d_1123_10)">
            <path d="M33 44H171V92.99L110.28 117.14V157.85L138.5 182H66.1197L92.3397 157.85V117.14L33 92.99V44Z" fill="white"/>
          </g>
          <defs>
            <filter id="filter0_i_1123_10" x="8" y="7" width="188" height="197" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="shape" result="effect1_innerShadow_1123_10"/>
            </filter>
            <filter id="filter1_d_1123_10" x="29" y="44" width="146" height="146" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1123_10"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1123_10" result="shape"/>
            </filter>
          </defs>
        </svg>
      </NuxtLink>
      <NuxtLink to="/" class="btn btn-ghost text-xl hidden lg:flex">
        Next FGO Manager
      </NuxtLink>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
      </ul>
    </div>
    <div class="navbar-end space-x-3">
      <NuxtLink to="/login" class="btn btn-primary btn-outline" v-if="!isUserLogged">Login</NuxtLink>
      <NuxtLink to="/register" class="btn btn-primary" v-if="!isUserLogged">Register</NuxtLink>
      <NuxtLink to="/dashboard" class="btn btn-primary" v-if="isUserLogged">Dashboard</NuxtLink>
      <NuxtLink to="/logout" class="btn btn-error btn-outline" v-if="isUserLogged">Logout</NuxtLink>
    </div>
  </div>
</template>

<style scoped>

</style>