<script setup lang="ts">
import {useToast} from "vue-toastification";

const route = useRoute()
const baseApiUrl = useRuntimeConfig().public.apiUrl;
const nuxtApp = useNuxtApp();
const toast = useToast();
const { data: globalCEStats, error} = await useFetch(baseApiUrl + "craft-essence/global-statistics", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  },
});

watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});

const seriesPolar = ref([
  globalCEStats.value!.totalGlobalCraftEssenceObtainedByType.svtEquipFriendShip,
  globalCEStats.value!.totalGlobalCraftEssenceObtainedByType.svtEquipCampaign,
  globalCEStats.value!.totalGlobalCraftEssenceObtainedByType.svtEquipEvent,
  globalCEStats.value!.totalGlobalCraftEssenceObtainedByType.svtEquipEventReward,
  globalCEStats.value!.totalGlobalCraftEssenceObtainedByType.svtEquipManaExchange,
  globalCEStats.value!.totalGlobalCraftEssenceObtainedByType.normal,
  globalCEStats.value!.totalGlobalCraftEssenceObtainedByType.unknown,
]);

const optionsPolar = ref({
  chart: {
    type: "polarArea",
  },
  labels: ['Bond CE', 'Campaign CE', 'Event CE', 'Event Reward CE', 'Da Vinci Shop CE', 'Gacha CE', 'Other CE'],
});
</script>

<template>
  <div class="space-y-5">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 w-full">
      <div class="card w-full bg-base-100 shadow col-span-2">
        <div class="card-body">
          <h2 class="card-title">Total craft essences obtained</h2>
          <p class="stat-value text-primary">{{ globalCEStats.totalGlobalCraftEssenceObtained }}</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 shadow">
        <div class="card-body">
          <h2 class="card-title">5★</h2>
          <p class="stat-value">{{ globalCEStats.totalGlobalFiveStarCraftEssenceObtained }}</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 shadow">
        <div class="card-body">
          <h2 class="card-title">4★</h2>
          <p class="stat-value">{{ globalCEStats.totalGlobalFourStarCraftEssenceObtained }}</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 shadow">
        <div class="card-body">
          <h2 class="card-title">3★</h2>
          <p class="stat-value">{{ globalCEStats.totalGlobalThreeStarCraftEssenceObtained }}</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 shadow">
        <div class="card-body">
          <h2 class="card-title">2★</h2>
          <p class="stat-value">{{ globalCEStats.totalGlobalTwoStarCraftEssenceObtained }}</p>
        </div>
      </div>
      <div class="card w-full bg-base-100 shadow">
        <div class="card-body">
          <h2 class="card-title">1★</h2>
          <p class="stat-value">{{ globalCEStats.totalGlobalOneStarCraftEssenceObtained }}</p>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card shadow w-full bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Craft essences by type</h2>
          <div class="w-full">
            <apexchart
                :key="seriesPolar"
                height="400"
                width="100%"
                :options="optionsPolar"
                :series="seriesPolar"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>