<script setup lang="ts">
import {useToast} from "vue-toastification";

const route = useRoute()
const baseApiUrl = useRuntimeConfig().public.apiUrl;
const nuxtApp = useNuxtApp();
const toast = useToast();
const { data: globalServantStats, error} = await useFetch(baseApiUrl + "servants/global-statistics", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  },
});

watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});

const seriesPolar = ref([
      globalServantStats.value!.totalGlobalFiveStarServantObtained,
      globalServantStats.value!.totalGlobalFourStarServantObtained,
      globalServantStats.value!.totalGlobalThreeStarServantObtained,
      globalServantStats.value!.totalGlobalTwoStarServantObtained,
      globalServantStats.value!.totalGlobalOneStarServantObtained,
]);

const seriesBar = ref([
  {
    name: "Servants",
    data: [
      globalServantStats.value!.totalGlobalServantObtainedByClass.saber,
      globalServantStats.value!.totalGlobalServantObtainedByClass.archer,
      globalServantStats.value!.totalGlobalServantObtainedByClass.lancer,
      globalServantStats.value!.totalGlobalServantObtainedByClass.rider,
      globalServantStats.value!.totalGlobalServantObtainedByClass.caster,
      globalServantStats.value!.totalGlobalServantObtainedByClass.assassin,
      globalServantStats.value!.totalGlobalServantObtainedByClass.berserker,
      globalServantStats.value!.totalGlobalServantObtainedByClass.ruler,
      globalServantStats.value!.totalGlobalServantObtainedByClass.avenger,
      globalServantStats.value!.totalGlobalServantObtainedByClass.moonCancer,
      globalServantStats.value!.totalGlobalServantObtainedByClass.alterEgo,
      globalServantStats.value!.totalGlobalServantObtainedByClass.foreigner,
      globalServantStats.value!.totalGlobalServantObtainedByClass.pretender,
      globalServantStats.value!.totalGlobalServantObtainedByClass.shielder,
      globalServantStats.value!.totalGlobalServantObtainedByClass.beast,
    ]
  }
]);

const optionsPolar = ref({
  chart: {
    type: "polarArea",
  },
  labels: ['5★', '4★', '3★', '2★', '1★'],
});

const optionsBar = ref({
  chart: {
    type: "bar",
  },
  plotOptions: {
    bar: {
      borderRadius: 0,
      dataLabels: {
        position: 'top', // top, center, bottom
      },
    }
  },
  labels: ['Saber', 'Archer', 'Lancer', 'Rider', 'Caster', 'Assassin', 'Berserker', 'Ruler', 'Avenger', 'Moon Cancer', 'Alter Ego', 'Foreigner', 'Pretender' ,'Shielder', 'Beast'],
});

</script>

<template>
  <div class="space-y-5">
    <div class="card w-full bg-base-100 shadow col-span-2">
      <div class="card-body">
        <h2 class="card-title">Total servant obtained</h2>
        <p class="stat-value text-primary">{{ globalServantStats.totalGlobalServantObtained }}</p>
      </div>
    </div>
    <div class="w-full">
      <div class="card shadow w-full bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Servants by rarity</h2>
          <div class="w-full">
            <apexchart
                :key="seriesPolar"
                height="400"
                width="100%"
                :options="optionsPolar"
                :series="seriesPolar"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card shadow w-full bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Servants by class</h2>
          <div class="w-full">
            <apexchart
                :key="seriesBar"
                height="400"
                width="100%"
                :options="optionsBar"
                :series="seriesBar"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>