<script setup lang="ts">
  import {useToast} from "vue-toastification";

  const route = useRoute()
  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const nuxtApp = useNuxtApp();
  const toast = useToast();

  const { data: globalStoryStat, error } = await useFetch(baseApiUrl + "story/global-statistics", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
  });

  watch(error, async () => {
    if(error.value) {
      toast.error("Something went wrong");
    }
  });

  const series1 = ref([
    {
      name: "Observer over the timeless temple",
      data: [globalStoryStat.value.totalFirstArc["Cleared"], globalStoryStat.value.totalFirstArc["In Progress"], globalStoryStat.value.totalFirstArc["Not Done"]],
    },
  ]);

  const series2 = ref([
    {
      name: "Epic Of Remnant",
      data: [globalStoryStat.value.totalSecondArc["Cleared"], globalStoryStat.value.totalSecondArc["In Progress"], globalStoryStat.value.totalSecondArc["Not Done"]],
    },
  ]);

  const series3 = ref([
    {
      name: "Cosmos in the Lostbelts",
      data: [globalStoryStat.value.totalThirdArc["Cleared"], globalStoryStat.value.totalThirdArc["In Progress"], globalStoryStat.value.totalThirdArc["Not Done"]],
    },
  ]);

  const series4 = ref([
    {
      name: "Ordeal Call",
      data: [globalStoryStat.value.totalFourthArc["Cleared"], globalStoryStat.value.totalFourthArc["In Progress"], globalStoryStat.value.totalFourthArc["Not Done"]],
    },
  ]);

  const options = ref({
    chart: {
      type: "bar",
    },
    plotOptions: {
      donut: {
        borderRadius: 10,
        borderRadiusApplication: "around",
      },
    },
    labels: ["Cleared", "In Progress", "Not Done"],
  });
</script>

<template>
  <div class="stats shadow bg-base-100 w-full mx-auto">

    <div class="stat">
      <div class="stat-title">Total cleared chapters</div>
      <div class="stat-value text-success">{{ globalStoryStat.totalClearedChapters }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Total in progress chapters</div>
      <div class="stat-value text-primary">{{ globalStoryStat.totalInProgressChapters }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Total not done chapters</div>
      <div class="stat-value text-error">{{ globalStoryStat.totalNotDoneChapters }}</div>
    </div>

  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mt-5">
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Observer over the timeless temple</h2>
          <div class="w-full">
            <apexchart
                :key="series1"
                height="400"
                width="100%"
                :options="options"
                :series="series1"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Epic Of Remnant</h2>
          <div class="w-full">
            <apexchart
                :key="series2"
                height="400"
                width="100%"
                :options="options"
                :series="series2"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Cosmos in the Lostbelts</h2>
          <div class="w-full">
            <apexchart
                :key="series3"
                height="400"
                width="100%"
                :options="options"
                :series="series3"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="card w-full shadow bg-base-100 text-base-content h-full">
        <div class="card-body">
          <h2 class="card-title">Ordeal Call</h2>
          <div class="w-full">
            <apexchart
                :key="series4"
                height="400"
                width="100%"
                :options="options"
                :series="series4"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>