<script setup lang="ts">

import DashboardLayout from "~/layouts/DashboardLayout.vue";
import {useToast} from "vue-toastification";
import { createWorker } from "tesseract.js";

let files = ref([]);

async function uploadFiles () {
  const worker = await createWorker('eng');
  for (const file of files.value) {
    const ret = await worker.recognize(file);
    console.log(ret.data.text);
    await worker.terminate();
  }
}

/**async function uploadFiles() {
  const toast = useToast();
  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const formData = new FormData();
  files.value.forEach((file) => formData.append("images[]", file));

  const { data, error } = await useFetch(baseApiUrl + "summon/", {
    method: "POST",
    server: false,
    body: formData,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
  });

  if(error.value) {
    toast.error(error.value.data);
    return;
  }
}*/

function handleImage(event) {
  files.value = Array.from(event.target.files); // Convert to proper array
}

</script>

<template>
  <DashboardLayout page-title="Summon">
    <form @submit.prevent="uploadFiles()">
      <input ref="files" type="file" name="summon-history" id="summon-history" accept="image/png, image/jpeg" multiple @change="handleImage" />
      <button>Submit</button>
    </form>
  </DashboardLayout>
</template>

<style scoped>

</style>
