<script setup lang="ts">

import DefaultLayout from "~/layouts/DefaultLayout.vue";
import {useToast} from "vue-toastification";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const toast = useToast();
const route = useRoute()

let userInfo = {
  password: '',
};

async function resetPassword() {
  const { data, error, execute } = await useFetch(baseApiUrl + "user/reset-password", {
    method: "PATCH",
    server: false,
    body: {
      password: userInfo.password,
      token: route.params.id
    }
  });

  toast.success("An email will be sent in a few minutes if an account has been found with this email.");
}
</script>

<template>
  <DefaultLayout>
    <div class="m-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 min-h-screen">
      <div class="m-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Reset your password</h1>
      </div>
      <form @submit.prevent="resetPassword" class="m-auto mb-0 mt-8 max-w-md space-y-4 prose">
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input v-model="userInfo.password" type="password" name="password" class="input input-bordered w-full" placeholder="Enter your new password" required/>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button type="submit" class="btn btn-primary mx-auto w-full">
            Reset my password
          </button>
        </div>
      </form>
    </div>
  </DefaultLayout>
</template>

<style scoped>

</style>