<script setup lang="ts">

</script>

<template>
  <div class="card w-full h-80 bg-gray-600 shadow-xl animate-pulse">
    <div class="card-body">
      <h2 class="card-title"></h2>
      <p></p>
    </div>
  </div>
</template>

<style scoped>

</style>