<script setup lang="ts">

import CraftEssenceCardSkeleton from "~/components/Skeletons/CraftEssences/CraftEssenceCardSkeleton.vue";
</script>

<template>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5">
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
    <CraftEssenceCardSkeleton/>
  </div>
</template>

<style scoped>

</style>