<script setup lang="ts">

import DashboardLayout from "~/layouts/DashboardLayout.vue";
import ServantCard from "~/components/Dashboard/Servants/ServantCard.vue";
import CraftEssenceCard from "~/components/Dashboard/Craft-Essences/CraftEssenceCard.vue";
import {useToast} from "vue-toastification";
import ServantCardSkeleton from "~/components/Skeletons/Servants/ServantGridCardSkeleton.vue";
import CraftEssenceCardSkeleton from "~/components/Skeletons/CraftEssences/CraftEssenceCardSkeleton.vue";
import CraftEssenceCardGridSkeleton from "~/components/Skeletons/CraftEssences/CraftEssenceCardGridSkeleton.vue";

const baseApiUrl = useRuntimeConfig().public.apiUrl;

const { data: craftEssence, error, pending } = await useLazyFetch(baseApiUrl + "craft-essence/list", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  }
});

let filteredCraftEssenceList = [];

const craftEssenceType = ref('all');
watch(craftEssenceType, async (newType, oldClass) => {
  craftEssenceRarity.value = 'all';
  craftEssenceSearch.value = '';
  filteredCraftEssenceList = craftEssence.value!.filter((currentCraftEssence) => {
    return currentCraftEssence.type === newType || newType === "all";
  });
});

const craftEssenceRarity = ref('all');
watch(craftEssenceRarity, async (newRarity, oldRarity) => {
  craftEssenceType.value = 'all';
  craftEssenceSearch.value = '';
  filteredCraftEssenceList = craftEssence.value!.filter((currentCraftEssence) => {
    return currentCraftEssence.rarity == newRarity || newRarity === "all";
  });
});

const craftEssenceSearch = ref('');
watch(craftEssenceSearch, async (newCraftEssenceSearch, oldServantSearch) => {
  craftEssenceRarity.value = 'all';
  craftEssenceType.value = 'all';
  filteredCraftEssenceList = craftEssence.value!.filter((currentCraftEssence) => {
    return currentCraftEssence.name.toLowerCase().includes(newCraftEssenceSearch.toLowerCase()) || newCraftEssenceSearch === "";
  });
})

watch(craftEssence, async () => {
  filteredCraftEssenceList = [...craftEssence.value];
});

const toast = useToast();
watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});
</script>

<template>
  <DashboardLayout page-title="Craft essences list">
    <div class="flex flex-col lg:flex-row gap-2">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Search a craft essence</span>
        </div>
        <input type="text" class="input input-bordered input-primary flex items-center gap-2" placeholder="Black Grail" v-model="craftEssenceSearch"/>
      </label>
      <label class="">
        <div class="label">
          <span class="label-text">CE Type</span>
        </div>
        <select class="select select-bordered select-primary w-full max-w-xs" v-model="craftEssenceType" >
          <option disabled selected>Select a class</option>
          <option value="all">All</option>
          <option value="svtEquipFriendShip">Bond CE</option>
          <option value="svtEquipCampaign">Campaign CEs</option>
          <option value="svtEquipEvent">Event CEs</option>
          <option value="svtEquipEventReward">Reward CEs</option>
          <option value="svtEquipManaExchange">Shop Exchange CEs</option>
          <option value="normal">Gacha CEs</option>
          <option value="unknown">Other CEs</option>
        </select>
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Rarity</span>
        </div>
        <select class="select select-bordered select-primary w-full max-w-xs" v-model="craftEssenceRarity" >
          <option disabled selected>Select a rarity</option>
          <option value="all">All</option>
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </label>
    </div>
    <div class="divider divider-primary"></div>
    <CraftEssenceCardGridSkeleton v-if="pending || error"/>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5" v-else>
      <CraftEssenceCard v-for="craftEssence in filteredCraftEssenceList" :craftEssence="craftEssence"/>
    </div>
  </DashboardLayout>
</template>

<style scoped>

</style>