<script setup lang="ts">
import ServantCardSkeleton from "~/components/Skeletons/Servants/ServantCardSkeleton.vue";
</script>

<template>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5">
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
    <ServantCardSkeleton/>
  </div>
</template>

<style scoped>

</style>