<script setup lang="ts">
import Stars from "~/components/Dashboard/Stars.vue";
import type {PropType} from "vue";
import type {CraftEssenceCardInterface} from "~/interfaces/CraftEssenceCardInterface";
import {useToast} from "vue-toastification";
import ServantCardSkeleton from "~/components/Skeletons/Servants/ServantCardSkeleton.vue";
import CraftEssenceCardSkeleton from "~/components/Skeletons/CraftEssences/CraftEssenceCardSkeleton.vue";

let props = defineProps({
  craftEssence: Object as PropType<CraftEssenceCardInterface>
});

let isObtained = props.craftEssence?.isObtained;

async function toggleCraftEssence(craftEssenceId: number) {
  const toast = useToast();
  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const { data, error, pending } = useLazyFetch(baseApiUrl + "craft-essence/add/" + craftEssenceId, {
    method: "POST",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  watch(data, async () => {
    console.log("test");
    if(data.value!.status === "success") {
      if(!isObtained) {
        toast.success(props.craftEssence?.name + " has been added to your collection !");
      }else{
        toast.success(props.craftEssence?.name + " has been delete of your collection !");
      }

      isObtained = !isObtained;
    }
  });

  watch(error, async () => {
    if(error.value) {
      toast.error("Something went wrong");
    }
  });
}

let isImageLoaded = ref(false);
function imageHasLoaded() {
  isImageLoaded.value = true;
}

</script>

<template>
  <div v-show="!isImageLoaded">
    <CraftEssenceCardSkeleton/>
  </div>
  <label class="group relative" v-show="isImageLoaded && !craftEssence?.isObtained">
    <input type="checkbox" class="hidden absolute top-0 left-0 w-full h-full opacity-0 peer" :name="craftEssence?.id" id="input" @change="toggleCraftEssence(craftEssence.id)">
    <nuxt-img  @load="imageHasLoaded" :class="{ 'group-hover:grayscale-[100%] peer-checked:grayscale-[100%] grayscale-0': craftEssence?.isObtained, 'group-hover:grayscale-0 peer-checked:grayscale-0 grayscale-[100%]': !craftEssence?.isObtained }" :src="craftEssence?.graph" class="rounded-lg group-hover:shadow-lg shadow transition-all duration-200 cursor-pointer" loading="lazy" alt=""/>
    <div class="absolute bottom-0 left-0 p-2 lg:p-5 bg-gradient-to-t from-black to-black/5 text-white w-full rounded-b-lg cursor-pointer">
      <h2 class="text-sm lg:text-lg font-bold servant-name">{{craftEssence?.name}}</h2>
      <Stars :stars="craftEssence?.rarity"/>
      <h3 class="text-xs servant-class hidden">{{ craftEssence.type }}</h3>
    </div>
  </label>
</template>

<style scoped>

</style>