<script setup lang="ts">
import Stars from "~/components/Dashboard/Stars.vue";
import type {PropType} from "vue";
import type {CraftEssenceCardInterface} from "~/interfaces/CraftEssenceCardInterface";
import CraftEssenceCardSkeleton from "~/components/Skeletons/CraftEssences/CraftEssenceCardSkeleton.vue";

let props = defineProps({
  craftEssence: Object as PropType<CraftEssenceCardInterface>
});

let isImageLoaded = ref(false);
function imageHasLoaded() {
  isImageLoaded.value = true;
}
</script>

<template>
  <div v-show="!isImageLoaded">
    <CraftEssenceCardSkeleton/>
  </div>
  <label class="group relative" v-show="isImageLoaded && !craftEssence?.isObtained">
    <input type="checkbox" class="hidden absolute top-0 left-0 w-full h-full opacity-0 peer" :name="craftEssence?.id" id="input">
    <nuxt-img  @load="imageHasLoaded" :src="craftEssence?.graph" class="rounded-lg group-hover:shadow-lg  shadow transition-all duration-200 cursor-pointer" loading="lazy" alt=""/>
    <div class="absolute bottom-0 left-0 p-2 lg:p-5 bg-gradient-to-t from-black to-black/5 text-white w-full rounded-b-lg cursor-pointer">
      <h2 class="text-sm lg:text-lg font-bold servant-name">{{craftEssence?.name}}</h2>
      <Stars :stars="craftEssence?.rarity"/>
      <h3 class="text-xs servant-class hidden">{{ craftEssence.type }}</h3>
    </div>
  </label>
</template>

<style scoped>

</style>