<script setup lang="ts">
  import DashboardLayout from "~/layouts/DashboardLayout.vue";
  import type {ServantInformationInterface} from "~/interfaces/ServantInformationInterface";
  import {useToast} from "vue-toastification";
  import {helpers, integer, maxValue, minValue, required} from "@vuelidate/validators";
  import {useVuelidate} from "@vuelidate/core";

  const route = useRoute()
  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const toast = useToast();

  const { data: servant, error} = await useFetch<ServantInformationInterface>(baseApiUrl + "servants/user/" + route.params.id, {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  if(error.value) {
    toast.error("Something went wrong");
  }

  let selectedTabIndex = ref(0);
  let tabs = [
    { title: 'Servant data' },
    { title: 'Servant coins' },
    { title: 'Associated CEs' }
  ];

  function changeSelectedTabIndex(index: number) {
    selectedTabIndex.value = index;
  }

  let servantInformation = {
    id: servant.value!.id,
    name: servant.value!.name,
    class: servant.value!.class,
    rarity: servant.value!.rarity,
    graph: servant.value!.graph,
    level: servant.value!.level,
    bond_level: servant.value!.bond_level,
    np_level: servant.value!.np_level,
    servant_skill_1: servant.value!.servant_skill_1.skill_level,
    servant_skill_2: servant.value!.servant_skill_2.skill_level,
    servant_skill_3: servant.value!.servant_skill_3.skill_level,
    servant_append_1: servant.value!.servant_append_1.append_level,
    servant_append_2: servant.value!.servant_append_2.append_level,
    servant_append_3: servant.value!.servant_append_3.append_level
  };

  const rules = computed(() => {
    return {
      level: {
        required: helpers.withMessage("The email field is required", required),
        integer: helpers.withMessage("Invalid quantity format", integer),
        minValue: minValue(1),
        maxValue: maxValue(120),
      },
      bond_level: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(15),
      },
      np_level: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(5),
      },
      servant_skill_1: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(10),
      },
      servant_skill_2: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(10),
      },
      servant_skill_3: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(10),
      },
      servant_append_1: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(10),
      },
      servant_append_2: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(10),
      },
      servant_append_3: {
        required: helpers.withMessage("This field is required", required),
        integer: helpers.withMessage("Invalid format", integer),
        minValue: minValue(1),
        maxValue: maxValue(10),
      },
    }
  });

  const v$ = useVuelidate(rules, servantInformation);

  async function updateServant() {
    await v$.value.$validate();

    if (!v$.value.$error) {
      const { data, error, pending } = await useFetch(baseApiUrl + "servants/user/" + route.params.id + "/update", {
        method: "PATCH",
        server: false,
        body: servantInformation,
        headers: {
          "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
        }
      });

      if(error.value) {
        toast.error("Something went wrong");
      } else {
        toast.success("Servant information updated !");
      }
    }
  }

</script>

<template>
  <DashboardLayout :page-title="servant.name">
    <div class="flex flex-col lg:flex-row gap-5">
      <div id="servant-image" class="lg:w-1/2">
        <nuxt-img :src="servant?.graph" class="rounded-lg object-top group-hover:shadow-lg shadow transition-all duration-200 w-full max-h-44 object-cover lg:max-h-full lg:max-w-96 h-auto" loading="lazy" alt=""/>
      </div>
      <div class="w-full flex flex-col gap-5">
        <div role="tablist" class="tabs tabs-boxed bg-base-100 border-base-200 border">
          <a role="tab" class="tab" v-for="(tab, index) in tabs" :class="{'tab-active': index === selectedTabIndex}" @click="changeSelectedTabIndex(index)">
            {{ tab.title }}
          </a>
        </div>
        <form @submit.prevent="updateServant">
          <div class="space-y-5">
            <div class="card w-full bg-base-100 text-base-content border-base-200 border">
              <div class="card-body">
                <h2 class="card-title">Servant level</h2>
                <select class="select select-bordered w-full" v-model.number="servantInformation.level">
                  <option v-for="n in 120" :value="n">{{n}}</option>
                </select>
              </div>
            </div>

            <div class="card w-full bg-base-100 text-base-content border-base-200 border">
              <div class="card-body">
                <h2 class="card-title">Bond level</h2>
                <div class="rating rating-lg gap-1">
                  <input type="radio" name="rating-9" class="rating-hidden" />
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#3788d5]" v-model="servantInformation.bond_level"
                         :value="1" :checked="servantInformation.bond_level === 1"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#61e16a]" v-model="servantInformation.bond_level"
                         :value="2" :checked="servantInformation.bond_level === 2"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#defe5a]" v-model="servantInformation.bond_level"
                         :value="3" :checked="servantInformation.bond_level === 3"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#fdf804]" v-model="servantInformation.bond_level"
                         :value="4" :checked="servantInformation.bond_level === 4"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#ffc1fe]" v-model="servantInformation.bond_level"
                         :value="5" :checked="servantInformation.bond_level === 5"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#b1bdfb]" v-model="servantInformation.bond_level"
                         :value="6" :checked="servantInformation.bond_level === 6"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#bdfec2]" v-model="servantInformation.bond_level"
                         :value="7" :checked="servantInformation.bond_level === 7"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#fcfbaf]" v-model="servantInformation.bond_level"
                         :value="8" :checked="servantInformation.bond_level === 8"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#c2edef]" v-model="servantInformation.bond_level"
                         :value="9" :checked="servantInformation.bond_level === 9"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#49a0d1]" v-model="servantInformation.bond_level"
                         :value="10" :checked="servantInformation.bond_level === 10"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#06118e]" v-model="servantInformation.bond_level"
                         :value="11" :checked="servantInformation.bond_level === 11"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#0f6018]" v-model="servantInformation.bond_level"
                         :value="12" :checked="servantInformation.bond_level === 12"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#51fb0d]" v-model="servantInformation.bond_level"
                         :value="13" :checked="servantInformation.bond_level === 13"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#fdfb05]" v-model="servantInformation.bond_level"
                         :value="14" :checked="servantInformation.bond_level === 14"/>
                  <input type="radio" name="rating-9" class="mask mask-diamond bg-[#fdad54]" v-model="servantInformation.bond_level"
                         :value="15" :checked="servantInformation.bond_level === 15"/>
                </div>
              </div>
              <p>Selected rating: {{ servantInformation.bond_level }}</p>
            </div>

            <div class="card w-full bg-base-100 text-base-content border-base-200 border">
              <div class="card-body">
                <h2 class="card-title">Noble Phantasm</h2>
                <select class="select select-bordered w-full" v-model.number="servantInformation.np_level">
                  <option v-for="n in 5" :value="n">{{n}}</option>
                </select>
              </div>
            </div>

            <div class="card w-full bg-base-100 text-base-content border-base-200 border">
              <div class="card-body">
                <h2 class="card-title">Skills</h2>
                <div class="flex flex-col lg:flex-row gap-5">

                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text">{{ servant.servant_skill_1.skill_name }}</span>
                    </label>
                    <div class="flex items-center gap-2">
                      <div class="avatar">
                        <div class="w-10 rounded-full">
                          <nuxt-img :src="servant.servant_skill_1.skill_icon"  alt=""/>
                        </div>
                      </div>
                      <select class="select select-bordered w-full" v-model.number="servantInformation.servant_skill_1">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text">{{ servant.servant_skill_2.skill_name }}</span>
                    </label>
                    <div class="flex items-center gap-2">
                      <div class="avatar">
                        <div class="w-10 rounded-full">
                          <nuxt-img :src="servant.servant_skill_2.skill_icon" />
                        </div>
                      </div>
                      <select class="select select-bordered w-full" v-model.number="servantInformation.servant_skill_2">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text">{{ servant.servant_skill_3.skill_name }}</span>
                    </label>
                    <div class="flex items-center gap-2">
                      <div class="avatar">
                        <div class="w-10 rounded-full">
                          <nuxt-img :src="servant.servant_skill_3.skill_icon" />
                        </div>
                      </div>
                      <select class="select select-bordered w-full" v-model.number="servantInformation.servant_skill_3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card w-full bg-base-100 text-base-content border-base-200 border">
              <div class="card-body">
                <h2 class="card-title">Append skills</h2>
                <div class="flex flex-col lg:flex-row gap-5">

                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text">{{ servant.servant_append_1.append_name }}</span>
                    </label>
                    <div class="flex items-center gap-2">
                      <div class="avatar">
                        <div class="w-10 rounded-full">
                          <nuxt-img :src="servant.servant_append_1.append_icon" />
                        </div>
                      </div>
                      <select class="select select-bordered w-full" v-model.number="servantInformation.servant_append_1">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text">{{ servant.servant_append_2.append_name }}</span>
                    </label>
                    <div class="flex items-center gap-2">
                      <div class="avatar">
                        <div class="w-10 rounded-full">
                          <nuxt-img :src="servant.servant_append_2.append_icon" />
                        </div>
                      </div>
                      <select class="select select-bordered w-full" v-model.number="servantInformation.servant_append_2">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text">{{ servant.servant_append_3.append_name }}</span>
                    </label>
                    <div class="flex items-center gap-2">
                      <div class="avatar">
                        <div class="w-10 rounded-full">
                          <nuxt-img :src="servant.servant_append_3.append_icon" />
                        </div>
                      </div>
                      <select class="select select-bordered w-full" v-model.number="servantInformation.servant_append_3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-wide mx-auto">Update</button>
          </div>
        </form>
      </div>
    </div>
  </DashboardLayout>
</template>

<style scoped>

</style>