<script setup lang="ts">

import Logo from "~/components/Global/Logo.vue";
</script>

<template>
  <div class="hero bg-base-100 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-lg">
        <h1
            class="font-title text-center text-[clamp(2rem,6vw,4.2rem)] font-black leading-[1.1] [word-break:auto-phrase] xl:w-[115%] [:root[dir=rtl]_&]:leading-[1.35]"
        >
          next fgo manager
        </h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <div class="flex flex-col space-y-4 mx-auto text-center">
          <NuxtLink to="/login" class="btn btn-primary">Log into your account !</NuxtLink>
          <NuxtLink to="/register" class="btn btn-primary btn-outline"
          >Create your account now !</NuxtLink
          >
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped>

</style>