<script setup lang="ts">
import DefaultLayout from "~/layouts/DefaultLayout.vue";
import type {LoginUserInterface} from "~/interfaces/LoginUserInterface";
import { useToast } from "vue-toastification";

const baseApiUrl = useRuntimeConfig().public.apiUrl;


let userInfo: LoginUserInterface = {
  username: '',
  password: '',
};

async function loggingUser() {
  const toast = useToast();

  const { data: loginInfo, error } = await useFetch(baseApiUrl + "user/login", {
    method: "POST",
    body: userInfo,
    server: false
  });

  // TODO : Erreur si 500
  if(error.value) {
    toast.error(error.value.data);
    return;
  }

  if(loginInfo.value!.payload.require_2fa == true) {
    toast.info("You will receive an email containing your code. Please enter this code to authenticate.")
    await navigateTo({
      path: '/multi-factor-authentication/' + loginInfo.value!.payload.id,
    });

  } else {
    const cookie = useCookie('X-AUTH-TOKEN', {});
    cookie.value = toRaw(loginInfo.value!.payload.token);

    toast.success("You are now logged !");
    await navigateTo('/dashboard');
  }
}


</script>

<template>
  <DefaultLayout>
    <div class="m-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 min-h-screen">
      <div class="m-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Sign in !</h1>
      </div>
      <form @submit.prevent="loggingUser" class="m-auto mb-0 mt-8 max-w-md space-y-4">
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input v-model="userInfo.username" type="email" name="email" class="input input-bordered w-full" placeholder="Enter email" required/>
          </div>
        </div>
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input v-model="userInfo.password" type="password" name="password" class="input input-bordered w-full" placeholder="Enter password" required/>
            <label class="label">
              <span class="label-text">Forgot your password ? <NuxtLink class="link" to="/password-reset/">Click here to reset it !</NuxtLink></span>
            </label>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button type="submit" class="btn btn-primary mx-auto w-full">
            Sign in
          </button>
        </div>
        <div class="divider"></div>
        <p>
          <span>You don't have an account ? </span>
          <NuxtLink class="link" href="/register"> Register here !</NuxtLink>
        </p>
      </form>
    </div>
  </DefaultLayout>
</template>

<style scoped>

</style>