<script setup lang="ts">
  import {useToast} from "vue-toastification";
  const toast = useToast();
  const cookie = useCookie('X-AUTH-TOKEN', {});
  if(cookie) {
    cookie.value = null;
  }
  toast.success("You are now logged out !");
  navigateTo('/');
</script>

<template>

</template>

<style scoped>

</style>