<script setup lang="ts">

</script>

<template>
  <Navbar/>
  <div class="prose mx-auto py-20">
    <h1>Privacy and cookie policy</h1>
    <h2>Cookies</h2>
    <p>Welcome to Next-FGO-Manager</p>
    <p>We would like to inform you that our site uses a single cookie for the sole purpose of guaranteeing your secure authentication experience. This cookie is essential to ensure the security of your account and to allow you to access our services in a protected manner.</p>
    <h2>What is a cookie?</h2>
    <p>A cookie is a small text file that the website you are visiting places on your computer or mobile device. It enables the site to remember your actions and preferences over time. In our case, the cookie is specifically used for authentication.</p>
    <h2>Why do we use a cookie?</h2>
    <p>We use this unique cookie for the sole purpose of securely identifying you when you access your account on Next-FGO-Manager. It reinforces the security of your connection and guarantees that you are the only person to have access to your account.</p>
    <h2>Your consent</h2>
    <p>By using our site, you consent to the use of this cookie for the purposes set out above. If you prefer not to authorise the use of this cookie, please refrain from using our services.</p>
    <h2>Your data</h2>
  </div>
  <Footer/>
</template>

<style scoped>

</style>