<script setup lang="ts">
  import {useToast} from "vue-toastification";
  import DashboardLayout from "~/layouts/DashboardLayout.vue";
  import MaterialCard from "~/components/Dashboard/Ressources/MaterialCard.vue";
  import MaterialModal from "~/components/Dashboard/Ressources/MaterialModal.vue";
  import type {MaterialCardInterface} from "~/interfaces/MaterialCardInterface";

  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const toast = useToast();

  /**
   * Fetching data from Next-fgo-manager API, to get all the resources the user have.
   */
  const { data: materials, error, pending, refresh } = useLazyFetch<MaterialCardInterface[]>(baseApiUrl + "material/list", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    },
  });

  /**
   * Watcher to set a variable "filteredMaterialList", that will be used allow the user to filter the list of resources
   */
  let filteredMaterialList: MaterialCardInterface[] = [];
  watch(materials, async () => {
      filteredMaterialList = [...materials.value];
  });

  /**
   * Watcher to check if an error happened while fetching the data from the API
   */
  watch(error, async () => {
    if(error.value) {
      toast.error("Something went wrong");
    }
  });

  /**
   * Watcher to filter the list of resources based on their name
   */
  const materialSearch = ref<string>('');
  watch(materialSearch, async (newMaterialSearch) => {
    filteredMaterialList = materials.value!.filter((currentMaterial) => {
      return currentMaterial.name.toLowerCase().includes(newMaterialSearch.toLowerCase()) || newMaterialSearch === "";
    });
  });

  /**
   * Watcher to filter the list of resources based on their quality
   */
  const materialQuality = ref('all');
  watch(materialQuality, async (newMaterialQuality) => {
    filteredMaterialList = materials.value!.filter((currentMaterial) => {
      return currentMaterial.background === newMaterialQuality || newMaterialQuality === "all";
    });
  });

  const materialData = ref<MaterialCardInterface | null>(null);
  const showModal = ref<boolean>(false);
  function handleModalOpen(material: MaterialCardInterface) {
    materialData.value = material;
    showModal.value = true;
  }

  function handleModalClose() {
    showModal.value = false;
    materialData.value = null;
    //TODO : Condition refresh si data updated
    refresh();
  }
</script>

<template>
  <DashboardLayout page-title="Event list">
    <div class="flex flex-col lg:flex-row gap-2">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Search by name</span>
        </div>
        <input type="text" class="input input-bordered flex items-center gap-2" placeholder="Saint Quartz" v-model="materialSearch"/>
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Search by quality</span>
        </div>
        <select class="select select-bordered select-primary w-full max-w-xs" id="search-servant-by-rarity" v-model="materialQuality">
          <option disabled selected>Select a quality</option>
          <option value="all">All</option>
          <option value="bronze">Bronze</option>
          <option value="silver">Silver</option>
          <option value="gold">Gold</option>
        </select>
      </label>
    </div>
    <div class="divider divider-primary"></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
      <MaterialCard v-for="material in filteredMaterialList" :material="material" v-if="!pending" @open-modal="handleModalOpen(material)"/>
    </div>
    <MaterialModal :material="materialData" v-if="showModal" @close-modal="handleModalClose()"/>
  </DashboardLayout>
</template>

<style scoped>

</style>