<script setup lang="ts">

</script>

<template>
  <div class="stats shadow w-full mx-auto h-20">
    <div class="skeleton rounded-r-none stat">
    </div>
    <div class="skeleton stat rounded-none">
    </div>
    <div class="skeleton stat rounded-l-none">
    </div>
  </div>
</template>

<style scoped>

</style>