<script setup lang="ts">

import type {UserRegisterInterface} from "~/interfaces/UserRegisterInterface";
import {email, helpers, minLength, required, sameAs} from "@vuelidate/validators";
import {useVuelidate} from "@vuelidate/core";
import {useToast} from "vue-toastification";

let userInfo = reactive({
  password: '',
  passwordCheck: ''
});

const rules = computed(() => {
  return {
    password: {
      required: helpers.withMessage("The password field is required", required),
      minLength: minLength(8)
    },
    passwordCheck: {
      required: helpers.withMessage('The password confirmation field is required', required),
      sameAs: helpers.withMessage("Passwords don't match", sameAs(userInfo.password)),
    }
  }
});

const v$ = useVuelidate(rules, userInfo);

async function updatePassword() {
  await v$.value.$validate();
  if (!v$.value.$error) {
    const baseApiUrl: string = useRuntimeConfig().public.apiUrl;
    const toast = useToast();

    const { data, error } = await useFetch(baseApiUrl + "account-settings/update-password", {
      method: "PUT",
      body: userInfo,
      server: false,
      headers: {
        "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
      }
    });

    if(error.value) {
      toast.error(error.value.data);
      return;
    }

    toast.success("Your account has been created, you can now log into !");
  }
}


</script>

<template>
  <div class="card w-full bg-base-100 min-h-96 transition-all duration-500 border-base-200 border-2 hover:border-primary">
    <form @submit.prevent="updatePassword" class="card-body">
      <h2 class="card-title text-primary">Account information</h2>
      <div class="mb-0 max-w-md space-y-2">
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input
                v-model="userInfo.password"
                type="password"
                name="password"
                class="input input-bordered w-full"
                placeholder="Enter password"
                :class="{
                  'input-error': v$.password.$error,
                }"
                @change="v$.password.$touch"
                required
            />
          </div>
        </div>

        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password verification</span>
            </label>
            <input
                v-model="userInfo.passwordCheck"
                type="password"
                name="passwordCheck"
                class="input input-bordered w-full"
                placeholder="Verify password"
                :class="{
                  'input-error': v$.passwordCheck.$error,
                }"
                @change="v$.passwordCheck.$touch"
                required
            />
          </div>
        </div>
      </div>
      <p></p>
      <div class="card-actions justify-center">
        <button class="btn btn-primary btn-wide">Change my password</button>
      </div>
    </form>
  </div>
</template>

<style scoped>

</style>