<script setup lang="ts">
import {useToast} from "vue-toastification";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const toast = useToast();

async function deleteAccount() {
  const { data, error } = await useFetch(baseApiUrl + "account-settings/delete-account", {
    method: "DELETE",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  if(error.value) {
    toast.error("Something went wrong");
  } else {
    toast.success("The requested event does not exists");
    await navigateTo('/');
  }
}

async function downladUserData() {
  const { data, error, execute } = await useFetch(baseApiUrl + "account-settings/" + "download-user-data", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  if(error.value) {
    toast.error("Something went wrong");
  } else {
    try {
      const jsonObject = data.value;
      const filename = 'user_data.json';

      const jsonString = JSON.stringify(jsonObject, null, 2);
      const blob = new Blob([jsonString], { type: 'application/json' });
      const link = document.createElement('a');
      link.href = URL.createObjectURL(blob);
      link.download = filename;
      link.click();

      URL.revokeObjectURL(link.href);
      toast.success("Your data has been successfully downloaded");
    } catch (error) {
      toast.error(error);
    }
  }
}

</script>

<template>
  <div class="card w-full bg-base-100 min-h-96 transition-all duration-500 border-base-200 border-2 hover:border-error">
    <div class="card-body">
      <h2 class="card-title text-error">Delete my account</h2>
      <p>
        Here you can delete your account and all the informations associated. <br/><br/>
        Please be sure to make a copy of your data, that way you will be able to upload them if you plan to make a new account.
      </p>
      <div class="card-actions justify-center">
        <button class="btn btn-error text-error-content btn-wide" onclick="modalDeleteAccount.showModal()">Delete my data</button>
      </div>
    </div>
  </div>

  <dialog id="modalDeleteAccount" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="font-bold text-lg text-error">
        Delete my account
      </h3>
      <p class="py-4">Before deleting you account, make sure you have download all of your data.</p>
      <div class="modal-action">
        <button class="btn btn-accent" @click="downladUserData()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
          </svg>

          Download my data
        </button>
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-error btn-outline" @click="deleteAccount()">
            Delete my account
          </button>
        </form>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</template>

<style scoped>

</style>