<script setup lang="ts">
import {useToast} from "vue-toastification";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const toast = useToast();

async function downladUserData() {
  const { data, error, execute } = await useFetch(baseApiUrl + "account-settings/" + "download-user-data", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  if(error.value) {
    toast.error("Something went wrong");
  } else {
    try {
      const jsonObject = data.value;
      const filename = 'user_data.json';

      const jsonString = JSON.stringify(jsonObject, null, 2);
      const blob = new Blob([jsonString], { type: 'application/json' });
      const link = document.createElement('a');
      link.href = URL.createObjectURL(blob);
      link.download = filename;
      link.click();

      URL.revokeObjectURL(link.href);
      toast.success("Your data has been successfully downloaded");
    } catch (error) {
      toast.error(error);
    }
  }
}
</script>

<template>
  <div class="card w-full bg-base-100 min-h-96 transition-all duration-500 border-base-200 border-2 hover:border-accent">
    <div class="card-body">
      <h2 class="card-title text-accent">Export your data</h2>
      <p>
        You can export all your data in a json file by clicking this button below.
        <br/>
        <br/>
        If you export your data, you will be able to re-use them if you plan to make another account.
      </p>
      <div class="card-actions justify-center">
        <button class="btn btn-accent btn-wide" @click="downladUserData()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
          </svg>

          Export my data
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>