<script setup lang="ts">
import {useToast} from "vue-toastification";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const toast = useToast();

const { data, error } = await useFetch(baseApiUrl + "account-settings/share-data", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  }
});

let shareData = ref(data.value!.payload.value);

async function changeShareData() {
  shareData.value = !shareData.value;

  const { data, error } = await useFetch(baseApiUrl + "account-settings/share-data", {
    method: "POST",
    server: false,
    body: {
      shareData: shareData.value
    },
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  if(error.value) {
    toast.error("Something went wrong");
  } else {
    toast.success(data.value!.payload.message);
  }
}

if(error.value) {
  toast.error("Something went wrong");
}
</script>

<template>
  <div class="card w-full bg-base-100 min-h-96 transition-all duration-500 border-base-200 border-2 hover:border-warning">
    <div class="card-body">
      <h2 class="card-title text-warning">Global statistics</h2>
      <p>
        Here you can define whether you wish to authorize the use of your data for global statistics, visible from the "Global statistics" page. <br/><br/>
        Please note that you cannot be identified in any way if you authorize the use of this data. <br/><br/>
        The default setting is "do not authorize".
      </p>

      <div class="card-actions justify-center">
        <div class="form-control w-72 ">
          <label class="cursor-pointer label hover:text-warning">
            <span class="label-text font-bold hover:text-warning">Allow the usage of my data</span>
            <input type="checkbox" class="toggle toggle-warning" :checked="shareData" @change="changeShareData"/>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>