<script setup lang="ts">
import {useToast} from "vue-toastification";
import {parseJsonFile} from "~/utils/parseJsonFile";

const baseApiUrl = useRuntimeConfig().public.apiUrl;
const toast = useToast();

async function uploadUserData() {
  const fileInput = document.querySelector('#file-input');
  const file = fileInput.files[0];

  if (!file) {
    toast.error("You must upload a file");
    return;
  }

  if (!file.type.match('application/json')) {
    toast.error('Invalid file type. Please select a JSON file.');
    return; // Handle invalid file type
  }

  let jsonData = null;

  try {
    jsonData = await parseJsonFile(file);
  } catch (error) {
    toast.error('Error parsing JSON file:');
    jsonData = null;
  }

  if(jsonData !== null) {
    const { data, error, execute } = await useFetch(baseApiUrl + "account-settings/" + "upload-user-data", {
      method: "POST",
      server: false,
      body: jsonData,
      headers: {
        "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
      }
    });

    if(error.value) {
      toast.error("Something went wrong");
    } else {
      try {
        const jsonObject = data.value;
        const filename = 'user_data.json';

        const jsonString = JSON.stringify(jsonObject, null, 2);
        const blob = new Blob([jsonString], { type: 'application/json' });
        const link = document.createElement('a');
        link.href = URL.createObjectURL(blob);
        link.download = filename;
        link.click();

        URL.revokeObjectURL(link.href);
        toast.success("Your data has been successfully downloaded");
      } catch (error) {
        toast.error(error);
      }
    }

  } else {
    toast.error('Error parsing JSON file:');
    return;
  }
}
</script>

<template>
  <div class="card w-full bg-base-100 min-h-96 transition-all duration-500 border-base-200 border-2 hover:border-base-300">
    <form @submit.prevent="uploadUserData" class="card-body" enctype="multipart/form-data">
      <h2 class="card-title">Import your data</h2>
      <p>
        You can import the data you have previously downloaded.
        <br/>
        <br/>
        Warning : If you import your data, all existing data will be overrided
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Select your file</span>
          </div>
          <input type="file" class="file-input file-input-bordered w-full" accept="application/json" id="file-input"/>
        </label>
      </p>
      <div class="card-actions justify-center">
        <button class="btn btn-primary btn-wide" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
          </svg>

          Import
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped>

</style>