<script setup lang="ts">
  import {useToast} from "vue-toastification";

  const baseApiUrl = useRuntimeConfig().public.apiUrl;
  const toast = useToast();

  const { data, error } = await useFetch(baseApiUrl + "account-settings/enable-2fa", {
    method: "GET",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  if(error.value) {
    toast.error("Something went wrong");
  }

  let multiFa = ref(data.value!.payload.value);

  async function changeShareData() {
    multiFa.value = !multiFa.value;

    const { data, error } = await useFetch(baseApiUrl + "account-settings/enable-2fa", {
      method: "POST",
      server: false,
      body: {
        multiFa: multiFa.value
      },
      headers: {
        "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
      }
    });

    if(error.value) {
      toast.error("Something went wrong");
    } else {
      toast.success(data.value!.payload.message);
    }
  }
</script>

<template>
  <div class="card w-full bg-base-100 min-h-96 transition-all duration-500 border-base-200 border-2 hover:border-success">
    <div class="card-body">
      <h2 class="card-title text-success">Multi factor authentification</h2>
      <p>
        Here you can define whether you wish to enable the multi factor authentification. <br/><br/>
        If enable, the next time you log into your account, you will receive an email, on your associated email, with a code. <br/><br/>
        Your will be required to enter this code to be able to log into your account.
      </p>

      <div class="card-actions justify-center">
        <div class="form-control w-72 ">
          <label class="cursor-pointer label hover:text-warning">
            <span class="label-text font-bold hover:text-warning">Enable multi factor authenticator</span>
            <input type="checkbox" class="toggle toggle-success" :checked="multiFa" @change="changeShareData"/>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>