<script setup lang="ts">

import DashboardLayout from "~/layouts/DashboardLayout.vue";
import GlobalStatisticsCard from "~/components/Dashboard/Settings/GlobalStatisticsCard.vue";
import AccountInformationCard from "~/components/Dashboard/Settings/AccountInformationCard.vue";
import ExportDataCard from "~/components/Dashboard/Settings/ExportDataCard.vue";
import DeleteAccountCard from "~/components/Dashboard/Settings/DeleteAccountCard.vue";
import MultiFactorAuthenticationCard from "~/components/Dashboard/Settings/MultiFactorAuthenticationCard.vue";
import ImportDataCard from "~/components/Dashboard/Settings/ImportDataCard.vue";
</script>

<template>
  <DashboardLayout page-title="Settings">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
      <AccountInformationCard/>
      <GlobalStatisticsCard/>
      <ExportDataCard/>
      <DeleteAccountCard/>
      <ImportDataCard/>
      <MultiFactorAuthenticationCard/>

    </div>
  </DashboardLayout>
</template>

<style scoped>

</style>