<script setup lang="ts">
import DashboardLayout from "~/layouts/DashboardLayout.vue";
import SpotCard from "~/components/Dashboard/Chapter/SpotCard.vue";
import MaterialCard from "~/components/Dashboard/Ressources/MaterialStoryEventCard.vue";
import {useToast} from "vue-toastification";
import ChapterState from "~/components/Dashboard/Chapter/ChapterState.vue";

const route = useRoute()

const baseApiUrl = useRuntimeConfig().public.apiUrl;

const { data: chapter, error } = await useFetch(baseApiUrl + "story/" + route.params.id + "/quests", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  }
});

const toast = useToast();

if(error.value) {
  toast.error("The requested event does not exists");
  await navigateTo('/dashboard');
}

</script>

<template>
  <DashboardLayout :page-title="chapter?.name">
    <ChapterState :id="route.params.id" :chapter-state="chapter.state"/>
    <div class="divider divider-primary"></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-5">
      <MaterialCard v-for="reward in chapter.rewards" :material="reward"/>
    </div>
  </DashboardLayout>
</template>

<style scoped>

</style>