<script setup lang="ts">
  import type {PropType} from "vue";
  import type {ServantRessourcesInterface} from "~/interfaces/Planner/Servant/ServantRessourcesInterface";

  let props = defineProps({
    servants: Object as PropType<ServantRessourcesInterface[]>
  })
</script>

<template>
  <div class="flex flex-col mb-2" v-for="(servantData, index) in servants">
      <div class="card">
          <div class="card-body">
          <div class="flex gap-2">
          <div class="avatar">
            <div class="w-24 rounded-full border-2 shadow border border-primary">
              <img :src="servantData.icon" :alt="servantData.name"/>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <div class="prose">
              <h4 class="card-title">{{ servantData.name }}</h4>
            </div>
            <div class="flex gap-2">
              <div class="avatar" v-for="ressource in servantData.ressources">
                <div class="w-16 relative">
                  <img :src="ressource.icon" :alt="ressource.name"/>
                  <div class="absolute bottom-0 right-0 bg-gray-700 text-white px-1 py-0.5 rounded-full text-xs">  {{ ressource.quantity }}  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
      </div>
  </div>
</template>

<style scoped>

</style>
