<script setup lang="ts">
    import DashboardLayout from "~/layouts/DashboardLayout.vue";
    import MaterialCard from "~/components/Dashboard/Ressources/MaterialStoryEventCard.vue";
    import {useToast} from "vue-toastification";

    const route = useRoute();
    const baseApiUrl = useRuntimeConfig().public.apiUrl;

    const { data: event, error } = await useFetch(baseApiUrl + "events/" + route.params.id, {
        method: "GET",
        server: false,
        headers: {
            "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
        }
    });

    const toast = useToast();
    if(error.value) {
      //TODO redirect ne marche pas
      toast.error("The requested event does not exists");
      await navigateTo('/dashboard');
    }
</script>

<template>
    <DashboardLayout :page-title="event?.name">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5">
          <MaterialCard v-for="reward in event.rewards" :material="reward"/>
        </div>        
    </DashboardLayout>
</template>
