<script setup lang="ts">

</script>

<template>
  <svg width="50" height="108" viewBox="0 0 206 208" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="206" height="208" fill="white"/>
    <g filter="url(#filter0_i_1123_10)">
      <rect x="8" y="7" width="188" height="193" rx="12" fill="#1E3A8A"/>
    </g>
    <g filter="url(#filter1_d_1123_10)">
      <path d="M33 44H171V92.99L110.28 117.14V157.85L138.5 182H66.1197L92.3397 157.85V117.14L33 92.99V44Z" fill="white"/>
    </g>
    <defs>
      <filter id="filter0_i_1123_10" x="8" y="7" width="188" height="197" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_1123_10"/>
      </filter>
      <filter id="filter1_d_1123_10" x="29" y="44" width="146" height="146" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1123_10"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1123_10" result="shape"/>
      </filter>
    </defs>
  </svg>
</template>

<style scoped>

</style>