<script setup lang="ts">
import type {ServantCardInterface} from "~/interfaces/ServantCardInterface";
import type {PropType} from "vue";
import Stars from "~/components/Dashboard/Stars.vue";
import {useToast} from "vue-toastification";
import ServantCardSkeleton from "~/components/Skeletons/Servants/ServantCardSkeleton.vue";

let props = defineProps({
  servant: Object as PropType<ServantCardInterface>
});

/**
 * Function that let the user add or delete a servant from his inventory
 *
 * @param servantId
 */
async function toggleServant(servantId: number) {
  const toast = useToast();
  const baseApiUrl = useRuntimeConfig().public.apiUrl;

  const { data, error, pending } = await useFetch(baseApiUrl + "servants/add/" + servantId, {
    method: "POST",
    server: false,
    headers: {
      "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
    }
  });

  if(error.value) {
    toast.error("Something went wrong");
  }

  toast.success(data.value!.message);
  props.servant!.isObtained = !props.servant!.isObtained;

}

let isImageLoaded = ref(false);
function imageHasLoaded() {
  isImageLoaded.value = true;
}

</script>

<template>
  <div v-show="!isImageLoaded">
    <ServantCardSkeleton/>
  </div>
  <label class="group relative" v-show="isImageLoaded">
    <input type="checkbox" class="hidden absolute top-0 left-0 w-full h-full opacity-0 peer" :name="servant?.id" id="input" @change="toggleServant(servant!.id)">
    <nuxt-img @load="imageHasLoaded" :src="servant?.graph" :class="{
      'group-hover:grayscale-[100%] grayscale-0': servant?.isObtained,
      'group-hover:grayscale-0 grayscale-[100%]': !servant?.isObtained
    }" class="rounded-lg group-hover:shadow-lg  shadow transition-all duration-200 cursor-pointer" loading="lazy" :alt="servant?.name"/>
    <div class="absolute bottom-0 left-0 p-2 lg:p-5 bg-gradient-to-t from-black to-black/5 text-white w-full rounded-b-lg cursor-pointer">
      <h2 class="text-sm font-bold servant-name">{{servant?.name}}</h2>
      <Stars :stars="servant?.rarity"/>
      <h3 class="text-xs servant-class hidden">{{ servant?.class }}</h3>
    </div>
  </label>
</template>

<style scoped>

</style>