<script setup lang="ts">
import type {ServantCardInterface} from "~/interfaces/ServantCardInterface";
import type {PropType} from "vue";
import Stars from "~/components/Dashboard/Stars.vue";
import ServantCardSkeleton from "~/components/Skeletons/Servants/ServantCardSkeleton.vue";

let props = defineProps({
  servant: Object as PropType<ServantCardInterface>
});

let isImageLoaded = ref(false);

</script>

<template>
  <div v-show="!isImageLoaded">
    <ServantCardSkeleton/>
  </div>
  <label class="group relative" v-show="isImageLoaded">
    <NuxtLink :to="`/dashboard/servants/my-servants/${servant?.id}`">
      <input type="checkbox" class="hidden absolute top-0 left-0 w-full h-full opacity-0 peer" :name="servant?.id" id="input">
      <nuxt-img @load="isImageLoaded = true" :src="servant?.graph" class="rounded-lg group-hover:shadow-lg  shadow transition-all duration-200 cursor-pointer" loading="lazy" alt=""/>
      <div class="absolute bottom-0 left-0 p-2 lg:p-5 bg-gradient-to-t from-black to-black/5 text-white w-full rounded-b-lg cursor-pointer">
        <h2 class="text-sm lg:text-lg font-bold servant-name">{{servant?.name}}</h2>
        <Stars :stars="servant?.rarity"/>
        <h3 class="text-xs servant-class hidden">{{ servant?.class }}</h3>
      </div>
    </NuxtLink>
  </label>
</template>

<style scoped>

</style>