<script setup lang="ts">

import DefaultLayout from "~/layouts/DefaultLayout.vue";
import type {LoginUserInterface} from "~/interfaces/LoginUserInterface";
import {useToast} from "vue-toastification";
import {email, helpers, required} from "@vuelidate/validators";
import {useVuelidate} from "@vuelidate/core";

const route = useRoute()
const uniqueIdentifier = route.params.id;
const baseApiUrl = useRuntimeConfig().public.apiUrl;

let codeInformation = {
  code: '',
  uniqueIdentifier: ''
};

async function verify2fa() {
  codeInformation.uniqueIdentifier = uniqueIdentifier;
  const toast = useToast();

  const { data: loginInfo, error } = await useFetch(baseApiUrl + "user/two-factor-login", {
    method: "POST",
    body: codeInformation,
    server: false
  });

  if(error.value) {
    toast.error(error.value.data);
    return;
  }

  const cookie = useCookie('X-AUTH-TOKEN', {});
  cookie.value = toRaw(loginInfo.value!.payload.token);

  toast.success("You are now logged !");
  await navigateTo('/dashboard');
}
</script>

<template>
  <DefaultLayout>
    <div class="m-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 min-h-screen">
      <div class="m-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Multi factor authentification</h1>
      </div>
      <form @submit.prevent="verify2fa" class="m-auto mb-0 mt-8 max-w-md space-y-4">
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Please enter your code</span>
            </label>
            <input
                v-model="codeInformation.code"
                type="text"
                name="email"
                class="input input-bordered w-full"
                required
            />
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button type="submit" class="btn btn-primary mx-auto w-full">
            Verify
          </button>
        </div>
      </form>
    </div>
  </DefaultLayout>
</template>

<style scoped>

</style>