<script setup lang="ts">
  const props = defineProps({
    totalServantObtained: Number,
    totalServantUnobtained: Number,
    totalServantObtainedPercentage: Number,
  });
</script>

<template>
  <div class="stats shadow bg-base-100 w-full mx-auto">
    <div class="stat">
      <div class="stat-title">Total obtained</div>
      <div class="stat-value text-primary"> {{ totalServantObtained }} </div>
    </div>

    <div class="stat">
      <div class="stat-title">Total unobtained</div>
      <div class="stat-value text-error">{{ totalServantUnobtained }}</div>
    </div>

    <div class="stat">
      <div class="stat-value">{{ totalServantObtainedPercentage }} %</div>
      <div class="stat-title">of existing servants obtained</div>
    </div>
  </div>
</template>

<style scoped>

</style>