<script setup lang="ts">
import type {ServantStatisticsInterface} from "~/interfaces/Dashboard/Servants/ServantStatisticsInterface";
import {useToast} from "vue-toastification";
import ServantsTabSkeleton from "~/components/Skeletons/Dashboard/Servants/ServantsTabSkeleton.vue";
import ServantStatisticsBar from "~/components/Dashboard/UserProfile/Servants/ServantStatisticsBar.vue";

const baseApiUrl = useRuntimeConfig().public.apiUrl;

const toast = useToast();
const { data: servantStats, error, pending } = await useFetch<ServantStatisticsInterface>(baseApiUrl + "servants/statistics", {
  method: "GET",
  server: false,
  headers: {
    "X-AUTH-TOKEN": useCookie('X-AUTH-TOKEN')
  },
});

watch(error, async () => {
  if(error.value) {
    toast.error("Something went wrong");
  }
});

const series = ref([
  servantStats.value!.servantClassStatistics.saber,
  servantStats.value!.servantClassStatistics.archer,
  servantStats.value!.servantClassStatistics.lancer,
  servantStats.value!.servantClassStatistics.rider,
  servantStats.value!.servantClassStatistics.caster,
  servantStats.value!.servantClassStatistics.assassin,
  servantStats.value!.servantClassStatistics.berserker,
  servantStats.value!.servantClassStatistics.ruler,
  servantStats.value!.servantClassStatistics.avenger,
  servantStats.value!.servantClassStatistics.moonCancer,
  servantStats.value!.servantClassStatistics.alterEgo,
  servantStats.value!.servantClassStatistics.foreigner,
  servantStats.value!.servantClassStatistics.pretender,
  servantStats.value!.servantClassStatistics.shielder,
  servantStats.value!.servantClassStatistics.beast,
]);

const options = ref({
  chart: {
    type: "donut",
  },
  plotOptions: {
    donut: {
      borderRadius: 50,
      borderRadiusApplication: "around",
    },
  },
  labels: ['Saber', 'Archer', 'Lancer', 'Rider', 'Caster', 'Assassin', 'Berserker', 'Ruler', 'Avenger', 'Moon Cancer', 'Alter Ego', 'Foreigner', 'Pretender' ,'Shielder', 'Beast'],
});

</script>

<template>
    <ServantStatisticsBar :total-servant-obtained="servantStats.totalServantObtained" :total-servant-unobtained="servantStats.totalServantUnobtained " :total-servant-obtained-percentage="servantStats.totalServantObtainedPercentage"/>
    <div class="flex flex-col lg:flex-row gap-5 mt-5">
      <div class="w-full">
        <div class="card shadow w-full bg-base-100 text-base-content h-full">
          <div class="card-body">
            <h2 class="card-title">Servants by class</h2>
            <div class="w-full">
              <apexchart
                  :key="series"
                  height="400"
                  width="100%"
                  :options="options"
                  :series="series"
              ></apexchart>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 w-full">
        <div class="card shadow bg-base-100 text-base-content col-span-2">
          <div class="card-body">
            <h2 class="card-title">Servants by rarity</h2>
          </div>
        </div>
        <div class="card shadow bg-base-100 text-base-content col-span-2 sm:col-span-1">
          <div class="card-body">
            <h2 class="card-title">5 Stars</h2>
            <p class="text-right">{{ servantStats.servantRarityProgress.fiveStars.user }} / {{ servantStats.servantRarityProgress.fiveStars.game }}</p>
            <progress
                class="progress w-full"
                :class="{
                  'progress-error': (servantStats.servantRarityProgress.fiveStars.user / servantStats.servantRarityProgress.fiveStars.game) * 100 <= 25,
                  'progress-warning': (servantStats.servantRarityProgress.fiveStars.user / servantStats.servantRarityProgress.fiveStars.game) * 100 > 75 && (servantStats.servantRarityProgress.fiveStars.user / servantStats.servantRarityProgress.fiveStars.game) * 100 <= 75,
                  'progress-success': (servantStats.servantRarityProgress.fiveStars.user / servantStats.servantRarityProgress.fiveStars.game) * 100 > 75,
                }"
                :value="servantStats.servantRarityProgress.fiveStars.user"
                :max="servantStats.servantRarityProgress.fiveStars.game"
            />
          </div>
        </div>
        <div class="card shadow bg-base-100 text-base-content col-span-2 sm:col-span-1">
          <div class="card-body">
            <h2 class="card-title">4 Stars</h2>
            <p class="text-right">{{ servantStats.servantRarityProgress.fourStars.user }} / {{ servantStats.servantRarityProgress.fourStars.game }}</p>
            <progress
                class="progress w-full"
                :class="{
                  'progress-error': (servantStats.servantRarityProgress.fourStars.user / servantStats.servantRarityProgress.fourStars.game) * 100 <= 25,
                  'progress-warning': (servantStats.servantRarityProgress.fourStars.user / servantStats.servantRarityProgress.fourStars.game) * 100 > 75 && (servantStats.servantRarityProgress.fourStars.user / servantStats.servantRarityProgress.fourStars.game) * 100 <= 75,
                  'progress-success': (servantStats.servantRarityProgress.fourStars.user / servantStats.servantRarityProgress.fourStars.game) * 100 > 75,
                }"
                :value="servantStats.servantRarityProgress.fourStars.user"
                :max="servantStats.servantRarityProgress.fourStars.game"
            />
          </div>
        </div>
        <div class="card shadow bg-base-100 text-base-content col-span-2 sm:col-span-1 ">
          <div class="card-body">
            <h2 class="card-title">3 Stars</h2>
            <p class="text-right">{{ servantStats.servantRarityProgress.threeStars.user }} / {{ servantStats.servantRarityProgress.threeStars.game }}</p>
            <progress
                class="progress w-full"
                :class="{
                  'progress-error': (servantStats.servantRarityProgress.threeStars.user / servantStats.servantRarityProgress.threeStars.game) * 100 <= 25,
                  'progress-warning': (servantStats.servantRarityProgress.threeStars.user / servantStats.servantRarityProgress.threeStars.game) * 100 > 75 && (servantStats.servantRarityProgress.threeStars.user / servantStats.servantRarityProgress.threeStars.game) * 100 <= 75,
                  'progress-success': (servantStats.servantRarityProgress.threeStars.user / servantStats.servantRarityProgress.threeStars.game) * 100 > 75,
                }"
                :value="servantStats.servantRarityProgress.threeStars.user"
                :max="servantStats.servantRarityProgress.threeStars.game"
            />
          </div>
        </div>
        <div class="card shadow bg-base-100 text-base-content col-span-2 sm:col-span-1">
          <div class="card-body">
            <h2 class="card-title">2 Stars</h2>
            <p class="text-right">{{ servantStats.servantRarityProgress.twoStars.user }} / {{ servantStats.servantRarityProgress.twoStars.game }}</p>
            <progress
                class="progress  w-full"
                :class="{
                  'progress-error': (servantStats.servantRarityProgress.twoStars.user / servantStats.servantRarityProgress.twoStars.game) * 100 <= 25,
                  'progress-warning': (servantStats.servantRarityProgress.twoStars.user / servantStats.servantRarityProgress.twoStars.game) * 100 > 75 && (servantStats.servantRarityProgress.twoStars.user / servantStats.servantRarityProgress.twoStars.game) * 100 <= 75,
                  'progress-success': (servantStats.servantRarityProgress.twoStars.user / servantStats.servantRarityProgress.twoStars.game) * 100 > 75,
                }"
                :value="servantStats.servantRarityProgress.twoStars.user"
                :max="servantStats.servantRarityProgress.twoStars.game"
            />
          </div>
        </div>
        <div class="card shadow bg-base-100 text-base-content col-span-2">
          <div class="card-body">
            <h2 class="card-title">1 Stars</h2>
            <p class="text-right">{{ servantStats.servantRarityProgress.oneStars.user }} / {{ servantStats.servantRarityProgress.oneStars.game }}</p>
            <progress
                class="progress w-full"
                :class="{
                  'progress-error': (servantStats.servantRarityProgress.oneStars.user / servantStats.servantRarityProgress.oneStars.game) * 100 <= 25,
                  'progress-warning': (servantStats.servantRarityProgress.oneStars.user / servantStats.servantRarityProgress.oneStars.game) * 100 > 75 && (servantStats.servantRarityProgress.oneStars.user / servantStats.servantRarityProgress.oneStars.game) * 100 <= 75,
                  'progress-success': (servantStats.servantRarityProgress.oneStars.user / servantStats.servantRarityProgress.oneStars.game) * 100 > 75,
                }"
                :value="servantStats.servantRarityProgress.oneStars.user"
                :max="servantStats.servantRarityProgress.oneStars.game"
            />
          </div>
        </div>
      </div>
    </div>
</template>

<style scoped>

</style>